.AdminHeader {
    color: #26C2E0;
    font-family: 'Muli',Arial,sans-serif;
    font-size: 1.5em;
    margin-right: 20px;
    margin-top: 0;
    float:none !important;
}

/*------------------Location Styles----------------------*/

.AdminLocationForm {
    position:relative;
}

.AdminLocationForm .NameLabel, .AdminLocationForm .TypeLabel, .AdminLocationForm .StatusLabel, .AdminLocationForm .SiteLabel, .AdminLocationForm .NotesLabel {
    width:113px;
}

.AdminLocationForm .NotesLabel {
    float:left;
}

.AdminLocationForm .InputWrapper .TextEditor{
   margin-left:116px;
   margin-bottom:10px;
}

.AdminLocationForm .AddressWrapper {
    width:830px;
}

.AdminLocationForm .AddressWrapper {
    width:830px;
}

.AdminLocationForm .AddressWrapper input {
    margin-right: 10px;
}

.AdminLocationForm .AddressWrapper .myenrollmentaptnum span {
    margin-left: auto;
    margin-right: 12px;
}

.AdminLocationForm .AddressWrapper .myenrollmentaptnum input{
    width: 50px;
}

.AdminLocationForm .AddressWrapper .myenrollmentaddress2 span {
    width:113px;
}
.AdminLocationForm .AddressWrapper .myenrollmentaddress2 input {
    width: 200px;
}

.AdminLocationForm .AddressWrapper .myenrollmentphysicianstate .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .AdminLocationForm .AddressWrapper .myenrollmentphysicianstate .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput, .AdminLocationForm .AddressWrapper .myenrollmentphysiciancounty .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .AdminLocationForm .AddressWrapper .myenrollmentphysiciancounty .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput{
    color: #58595B;
    font-size: 12px;
    padding-left: 15px;
}

.AdminLocationForm .myenrollmentphysicianzip{
    margin-bottom:30px;
}

.AdminLocationForm .addphone {
    margin-bottom:15px;
   
}

.AdminLocationForm .row .addphone {
    position: absolute;
    left: 175px;
    top: 0px;
    width: 260px;
   
}

.AdminLocationForm .row .addphone span {
    margin-right:10px;
    
}

.AdminLocationForm .row .myaddbutton {
    float: left;
    font-size: 1.1em;
    height: 24px;
    left: 340px;
    margin-bottom: -52px;
    margin-right: -10px;
    margin-top: -13px;
    position: absolute;
    top: -10px;
    width: 44px;
}

.AdminLocationForm .row .myenrollmentdob {
    margin-left:3px;
    margin-bottom:17px;
}

/*.myenrollmentphysicianaddress span[id="ctl00_MainContentPlaceholder_DocPhone_TextBoxPhone_wrapper"] {
    float: left;
    left: 155px;
    margin-bottom: -137px;
    position: relative;
    top: -34px;
}*/

.AttendanceLockingWrapper .ReleaseInfoWrapper {
    margin-top: 30px;
    margin-bottom:20px;
    clear:both;
    overflow:auto;
    padding-top:10px;
}

.AttendanceLockingWrapper .myeditdatepicker {
    float:left;
}

.AttendanceLockingWrapper .myeditdatepicker .myenrollmentdob {
    margin-left:50px;
}

.AttendanceLockingWrapper .mybutton {
    float:left;
    margin-top: -6px;
    margin-left: 0px;
}


/*------------------Staff Member Styles----------------------*/

.AdminStaffMemberForm .mylabel{
    width:113px;
}

.AdminStaffMemberForm .myfield[id*="UserName"]{
    margin-left:-3px;
}

.AdminStaffMemberForm .PanelRoles{
    width: 75%;
    margin-bottom:7px;
}

.AdminStaffMemberForm .PanelRoles .mylabel{
    margin-right:-3px;
}

.AdminStaffMemberForm .PanelRoles .myUserRoles{
    margin-left:109px;
    margin-top:-40px;
    /*width: 68%;*/
    width: 58%;
}

.AdminStaffMemberForm .PanelRoles .myUserRoles label {
    margin-bottom: 5px;
    margin-right: 34px;
    /*padding-left: 26px !important;*/
}

.AdminStaffMemberForm .myUserActive {
    margin-left:109px;
    margin-top:-39px;
    width: 20%;
    margin-bottom:5px;
}

.AdminStaffMemberForm .myUserActive label {
    margin-bottom: 5px;
    margin-right: 34px;
    /*padding-left: 26px !important;*/
}

.AdminStaffMemberForm .PanelAdmin .myUserActive {
    /*width: 22%;*/
    width: 19%;
    margin-bottom:10px;
}

.AdminStaffMemberForm .myenrollmentlastname span, .AdminStaffMemberForm .myenrollmentfirstname span{
    margin-right:0;
}

.AdminStaffMemberForm .myenrollmentMI span, .AdminStaffMemberForm .myenrollmentaptnum span{
    width:auto;
}

.AdminStaffMemberForm .myenrollmentdobcontainer .myenrollmentdob{
    margin-left:0;
}

.AdminStaffMemberForm .AddressWrapper .myenrollmentcity span, .AdminStaffMemberForm .AddressWrapper .myenrollmentstate span.mylabel, .AdminStaffMemberForm .AddressWrapper .myenrollmentcounty span.mylabel, .AdminStaffMemberForm .AddressWrapper .myenrollmentzip span{
    margin-right:0;
}

/*------------------Programs Styles----------------------*/

.ProgramGrid .InputWrapper span[id*="Description"] {
    float: left;
}

.ProgramGrid .InputWrapper div[id="ctl00_MainContentPlaceholder_RadGridPrograms_ctl00_ctl05_RadEditoDesc"], .ProgramGrid .InputWrapper div[id="ctl00_MainContentPlaceholder_RadGridPrograms_ctl00_ctl02_ctl03_RadEditoDesc"] {
     margin-left: 103px;
}

/*------------------Communities Styles----------------------*/

.CommunitiesOverview .CommunityListWrapper h3 {
    color: #A054A0;
    margin-bottom: 10px;
    margin-top: 0;
}

.CommunitiesOverview .CommunityListWrapper {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}

.CommunitiesOverview .CircuitListWrapper, .CommunitiesOverview .CountiesListWrapper {
    margin-left:15px;
    margin-right:-15px;
}

.CommunitiesOverview .CountiesListWrapper {
    margin-top:15px;
}

/*------------------Types Styles----------------------*/

.ManageTypes h3, .ManageAgeGroups h3, .ManageTimePeriods h3 {
    color: #A054A0;
    margin-bottom: 10px;
    margin-top: 0;
}

.ManageTypes .CommandItemGrid {
    margin-top:30px;
    margin-bottom:25px;
}

.ManageAgeGroups .CommandItemGrid, .ManageTimePeriods .CommandItemGrid {
    margin-top:35px;
    margin-bottom:25px;
}

/* --- With RadGrids having the class of widetabcontainer ---
.ManageTypes .CommandItemGrid .rgCommandTable tr, .ManageAgeGroups .CommandItemGrid .rgCommandTable tr, .ManageTimePeriods .CommandItemGrid .rgCommandTable tr {
    display: block;
    width: 1200px;
}

.ManageTypes .CommandItemGrid .rgCommandTable td, .ManageAgeGroups .CommandItemGrid .rgCommandTable td, .ManageTimePeriods .CommandItemGrid .rgCommandTable td  {
    border: 0 none;
    padding: 2px 7px;
    width: 7%;
}*/

.ManageTypes .CommandItemGrid .rgCommandTable tr, .ManageAgeGroups .CommandItemGrid .rgCommandTable tr, .ManageTimePeriods .CommandItemGrid .rgCommandTable tr {
    display: block;
    width: 1128px;
}

.ManageTypes .CommandItemGrid .rgCommandTable td, .ManageAgeGroups .CommandItemGrid .rgCommandTable td, .ManageTimePeriods .CommandItemGrid .rgCommandTable td  {
    border: 0 none;
    padding: 2px 4px 2px 8px;
    width: 7%;
}

.ManageTypes .row .myUserActive {
    margin-bottom: 15px;
    margin-left: 98px;
    margin-top: -39px;
    width: 20%;
}

.ManageTypes .row .myUserActive label {
    margin-bottom: 5px;
    margin-right: 34px;
    padding-left: 6px !important;
    width:auto;
}

.ManageTypes .InputWrapper span[id*="Desc"] {
    float: left;
}

.ManageTypes .InputWrapper div[class*="TextEditor"] {
    margin-left: 103px;
}

.ManageTimePeriods .myenrollmentdob {
    margin-left: 3px;
}

/*------------------Bulk Edit Styles----------------------*/

.BulkEditWrapper h2 {
    color: #26C2E0;
    font-family: 'Muli',Arial,sans-serif;
    font-size: 1.5em;
    margin-right: 20px;
    margin-top: 0;
}

.BulkEditWrapper .FilterData ul li{
	padding-bottom:3px;	
	color: #387EB8;
}

.BulkEditWrapper .FilterData ul li span {
	color: 	#58595B;
}

.BulkEditWrapper .FilterData ul li a span {
	color: 	inherit;
}

.BulkEditWrapper .FilterData ul li a {
	text-decoration:none;
	color: #387EB8;
}

.BulkEditWrapper .FilterData ul li a.current {
	font-weight:bold;
}

.BulkEditWrapper .FilterData ul li a:hover {
	color: #FFCC00;
}

.BulkEditWrapper .FilterData ul li a:hover {
	color: #FFCC00;
}

.BulkEditWrapper .TopEditToolbar {
	margin-bottom:20px;
	width:100%;
	display:inline-block;
}

.BulkEditWrapper .TopEditToolbar .mybutton {
	float:left;
	margin-right:20px;
}

.BulkEditWrapper .TopEditToolbar .myeditdatepicker {
	float:left;
	margin-right:-90px;
}

.BulkEditWrapper .TopEditToolbar .ReleaseInfoWrapper {float:left; margin-top:18px;}

.BulkEditWrapper .TopEditToolbar .ReleaseInfoWrapper .mydropdown { width:250px !important;}

.BulkEditWrapper .TopEditToolbar .ReleaseInfoWrapper .myfield {margin-right:20px;}

.BulkEditWrapper .TopEditToolbar .myeditdatepicker .myenrollmentdob {
	margin-left:0;
}

.BulkEditWrapper .TopEditToolbar .ReleaseInfoWrapper .mylabel {
	margin-right:10px;
}

.BulkEditWrapper .BulkEditTable {
	border-spacing: 0;
	vertical-align:middle;
	border-collapse:collapse;
}

.BulkEditWrapper .BulkEditTable th {
	padding-bottom:15px;
	color: #72BE44;
	font-weight:bold;
}

.BulkEditWrapper .BulkEditTable .myfield {
	margin-top:0;
	border:none;
}

.BulkEditWrapper .BulkEditTable .RadInput_Prodigy input.riTextBox {
    border:none;
}

.BulkEditWrapper .BulkEditTable .myenrollmentdob {
    margin-left:0;
    position:relative;
    top:3px;
}

.BulkEditWrapper .BulkEditTable td {
	border:1px solid #D0D2D3;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;
}

.BulkEditWrapper .BulkEditTable .RadComboBox_Prodigy, .BulkEditWrapper .BulkEditTable .RadComboBox_Prodigy .rcbInput, .BulkEditWrapper .BulkEditTable .RadComboBoxDropDown_Prodigy {
    border:none;
}

.BulkEditWrapper .BulkEditContentWrapper {
    border: 1px solid #D0D2D3;
    height: auto;
    overflow-x: scroll;
    padding-left: 10px;
    padding-top: 10px;
    width: 98%;
    margin-bottom:10px;
}

.BulkEditWrapper .BulkEditTable .mydropdown{
    position:relative;
    top:2px;
}

.BulkEditWrapper .BulkEditPager {margin-bottom:15px;}

.BulkEditWrapper .rgPager .rgWrap {
    float:left;
}

.BulkEditWrapper .rgPager .CustomPagerButton {
    height: 22px;
    vertical-align: top;
    width: 22px;
    display:inline-block;
    cursor: pointer;
}

.BulkEditWrapper .rgPager .CustomNumButton {
    padding: 0 8px 0 8px;
    line-height: 22px;
    color: #72BE44;
    border: 1px solid #D0D2D3;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    display:inline-block;
    margin-right:-4px;
}

.BulkEditWrapper .rgPager .rgCurrentPage {
    border-color: #72BE44;
    color: #FFFFFF;
    background-color: #72BE44;
}

.BulkEditWrapper .rgPager .PageSet {
    margin-left:-3px;
}

.BulkEditWrapper .rgPager .rgPageFirst {
    background: url(../../../App_Themes/Prodigy/Grid/FirstPage.png) no-repeat 2px center;
}

.BulkEditWrapper .rgPager .rgPagePrev {
    background: url(../../../App_Themes/Prodigy/Grid/PreviousPage.png) no-repeat 7px center;
    margin-right:5px;
}

.BulkEditWrapper .rgPager .rgPageNext {
    background: url(../../../App_Themes/Prodigy/Grid/NextPage.png) no-repeat 7px center;
    margin-left:5px;
}

.BulkEditWrapper .rgPager .rgPageLast{
    background: url(../../../App_Themes/Prodigy/Grid/LastPage.png) no-repeat 2px center;
}

.BulkEditWrapper .RadInput_Prodigy input.riTextBox{
    background:none;
}

/*------------------Import DJJ # Styles----------------------*/

.ImportWrapper .ImportOptions {
    float:left;
    margin-right:20px;
    clear:left;
    width:180px;
    position:relative;
    top:-1px;
    
}

.ImportWrapper .ImportOptions label {
    margin-bottom: 5px;
    padding-left: 26px !important;
}

.myFileBrowseContainer {
    position:relative;
    margin-left:200px;
}

.myFileBrowse {
    color: #58595B;
    font-size: 12px;
    margin-top: -4px;
    padding: 2px 2px 4px 5px;
    z-index:2;
    
    position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	
	width:212px;
	height:30px;
	cursor: pointer;
}

.myFakeFile {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    
}

.ImportWrapper .mybutton {
    clear:left;
    float:left;
    width:105px;
    margin-top:10px;
}

.myFakeFile .myaddbutton {
    font-size: 1.1em;
    height: 24px;
    margin-right: -10px;
    width: 70px;
    margin-left:10px;
    clear:none;
    float:none;
    margin-top:0;
}

.ImportWrapper .mybackbutton {
    width:90px;
}

.ImportWrapper .ResultInfo {
    margin-bottom:25px;
    border-bottom: 1px solid #26C2E0;
    padding-bottom:15px;
    padding-top:5px;
}

.ImportWrapper h3 {
    color: #A054A0;
    margin-left:18px;
}

/*.ImportWrapper .ResultInfo ul {
    line-height:1.75em;
    margin:0;
    padding-left:30px;
    margin-left:18px;
}*/

.ImportWrapper .ClassRegistrationTable {
    margin-bottom: 0px;
    margin-left: 48px;
}

.ImportWrapper .ClassRegistrationTable td {
    padding-left:30px;
    padding-top:0;
}

.ImportWrapper .ClassRegistrationTable .Name {
    display: list-item;
    padding-left:5px;
}

.ImportWrapper .ResultInfo span {
    margin-left:18px;
}

/*------------------Review Lesson Plan Styles----------------------*/

.ApproveAll .mybutton{
    width:165px;
    margin-bottom:15px;
    margin-top:0px;
}

.ReviewLessonPlanSearch .LessonPlanInfoFields {
    clear: both;
    margin-top: 35px;
}

.ReviewLessonPlanSearch .LessonPlanInfoFields .LessonPlanInfoFieldsLeft {
    clear: left;
    float: left;
    width: 50%;
}

.ReviewLessonPlanSearch .LessonPlanInfoFields .LessonPlanInfoFieldsRight {
    float: left;
    position: relative;
    top: -1px;
    width: 50%;
}

.ReviewLessonPlanSearch .LessonPlanInfoFields .row .mylabel {
    width: 160px;
}

/*------------------Position Styles----------------------*/

.AdminPositionForm .mylabel {
    width:113px;
}

.AdminPositionForm .myDatePickerPopup {
    position:relative;
    top: 7px;
}

/*------------------Position Styles----------------------*/

.AdminContractForm .mylabel {
    width:113px;
}

.AdminContractForm .widelabel {
    width:200px;
}

.AdminContractForm .SiteLabel {
    width:auto;
    margin-left: 25px;
    margin-right: 10px;
}

.AdminContractForm .myDatePickerPopup {
    position:relative;
    top:7px;
}

.ContractGrid .rgEditForm td {
    padding-bottom:10px;
}

.ContractGrid .rgEditForm label {
    padding-right:15px;
}

.ContractGrid .rgEditForm a[id*="Button"] {
    margin-top:10px;
	background: #F0047F;
	border:none;
	color:#fff;
	font-family: 'Muli', Arial, sans-serif;
	font-size:1.25em;
	width:90px;	
	line-height: 2em;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	text-align:center;
	behavior: url(/Templates/Scripts/PIE.htc);
	text-decoration:none;
	display:block;
	margin-right:10px;
	float:left;
}

.ContractGrid .rgEditForm td a[id*="Button"]:hover {
	background-color: #d71865;	
}

