.CourseOverview .ClassListWrapper {
    /*float:left;
    width:50%;*/
    height: 100%;
    display: block;
}

.CourseOverview .LessonPlansWrapper {
    float: left;
    width: 50%;
    height: 100%;
    display: none;
    position: relative;
    left: 20px;
}

    .CourseOverview .ClassListWrapper h3, .CourseOverview .LessonPlansWrapper h3 {
        color: #A054A0;
        margin-bottom: 10px;
        margin-top: 0;
    }

.ClassSchedulesHeader {
    margin-bottom: -7px;
}

.ClassSchedulesInstructions {
    line-height: 1.75em;
}

.CourseInfoWrapper .row span[class*="mylabel"] {
    width: 150px;
}

.LessonPlanPrintContainer .row span[class*="mylabel"] {
    width: 160px;
}

.LessonPlanPrintContainer .LessonPlanSet .row span[class*="mylabel"] {
    width: 180px;
}

.LessonPlanPrintContainer .LessonPlanSet .row input[type="checkbox"] {
    position: relative;
    top: 1px;
    left: -3px;
}

.LessonPlanSetGrid .GridEditButton {
    position: relative;
    /*left: 8px;*/
}

.LessonPlanSetGrid .GridDeleteButton {
    float: right;
    position: relative;
    right: 8px;
    top: 2px;
}

.CourseInfoWrapper .row input[id*="TextBoxName"] {
    width: 152px;
}

.CourseInfoWrapper .InputWrapper span[id*="Description"] {
    float: left;
    width: 150px;
}

.CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditoDesc"] {
    margin-left: 162px;
    min-width: 400px !important;
}

.CourseInfoWrapper .ButtonWrapper {
    /*margin-left:435px;*/
    margin-bottom: 0px;
}

.CourseInfoWrapper h2 {
    margin-top: 0;
    color: #26C2E0;
    font-size: 1.5em;
    font-family: 'Muli',Arial,sans-serif;
    float: left;
    margin-right: 20px;
}

.CourseInstanceGrid {
    margin-bottom: 20px;
}

/*------------------Class Registration Page Styles----------------------*/

.ClassRegistrationWrapper .mylabel {
    width: 113px;
    height: 30px;
}

.ClassRegistrationTable {
    margin-top: 15px;
    margin-bottom: 10px;
}

    .ClassRegistrationTable tr {
        border-bottom: 1px solid #D0D7E5;
    }

    .ClassRegistrationTable td {
        padding-top: 7px;
        padding-bottom: 3px;
        padding-left: 10px;
    }

    .ClassRegistrationTable span {
        width: 50px;
        display: block;
    }

    .ClassRegistrationTable .DOBLabel {
        width: 80px;
        padding-left: 30px;
    }

        .ClassRegistrationTable .DOBLabel span {
            width: 80px;
        }

    .ClassRegistrationTable .DJJNumLabel {
        padding-left: 30px;
        width: 45px;
    }

        .ClassRegistrationTable .DJJNumLabel span {
            position: relative;
            top: -8px;
            width: 45px;
        }

    .ClassRegistrationTable .GenderLabel {
        padding-left: 30px;
        width: 55px;
    }

        .ClassRegistrationTable .GenderLabel span {
            width: 55px;
        }

    .ClassRegistrationTable .RemoveButtonCell {
        padding-left: 30px;
        padding-right: 10px;
    }

    .ClassRegistrationTable .Name, .ClassRegistrationTable .DOB, .ClassRegistrationTable .DJJNum, .ClassRegistrationTable .Gender {
        padding-left: 0;
    }

/*------------------Lesson Plan Detail Page Styles----------------------*/

.LessonPlanPrintBlock {
    display: none;
}

.CourseInfoWrapper .LessonPlanInfoFields {
    clear: both;
    min-height: 245px;
    overflow: hidden;
    margin-bottom: -5px;
    padding-top: 5px;
    position: relative;
    top: -5px;
}

    .CourseInfoWrapper .LessonPlanInfoFields .small {
        min-height: 200px !important;
    }

    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft {
        clear: left;
        float: left;
        width: 50%;
    }

    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight {
        float: left;
        position: relative;
        top: -1px;
        width: 50%;
    }

.CourseInfoWrapper .InputWrapper .addLifeSkillbutton {
    color: #FFFFFF;
    font-size: 1.1em;
    height: 24px;
    line-height: 1.75em;
    margin-right: -10px;
    position: relative;
    top: -1px;
    left: 2px;
    text-decoration: none;
    width: 100px;
    display: inline-block;
    margin-top: -2px;
}

.CourseInfoWrapper .InputWrapper .myeditdatepicker .myenrollmentdate {
    margin-left: 0;
}

.CourseInfoWrapper .LessonPlanInfoBlocks {
    height: auto;
    padding-top: 10px;
    position: relative;
    width: 100%;
}

    .CourseInfoWrapper .LessonPlanInfoBlocks .LessonPlanInfoBlockViews {
        margin-left: 197px;
        margin-bottom: 25px;
    }

/*.CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorTopic"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorIntro"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorObject"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorDiscus"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorActProc"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorMatNeeded"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditrWrapUp"]  {
    margin-left: 103px;
}*/

.CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorTopic"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorIntro"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorObject"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorDiscus"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorActProc"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorMatNeeded"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditrWrapUp"] {
    margin-left: 15px;
    margin-top: -5px;
    width: 525px;
    min-width: 525px;
    /*height:225px; ----- Original*/
    height: auto !important; /*Disabled overflow bug fix*/
    min-height: 250px !important;
}

    .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorTopic"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorIntro"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorObject"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorDiscus"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorActProc"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorMatNeeded"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditrWrapUp"] > table {
        min-height: 250px !important;
    }

.CourseInfoWrapper .InputWrapper span[id*="Topic"], .CourseInfoWrapper .InputWrapper span[id*="Intro"], .CourseInfoWrapper .InputWrapper span[id*="Obj"], .CourseInfoWrapper .InputWrapper span[id*="Discuss"], .CourseInfoWrapper .InputWrapper span[id*="Activity"], .CourseInfoWrapper .InputWrapper span[id*="Materials"], .CourseInfoWrapper .InputWrapper span[id*="WrapUp"] {
    float: left;
}

.CourseInfoWrapper .InputWrapper .LifeSkillsTable {
    /*margin-bottom: 20px;*/
    margin-bottom: 5px;
    margin-left: 165px;
}

    .CourseInfoWrapper .InputWrapper .LifeSkillsTable td {
        width: 171px;
        padding-bottom: 5px;
    }



.DetailPageFormWrapper {
    position: relative;
}

    .DetailPageFormWrapper .ButtonWrapper {
        margin-top: 5px;
    }

    .DetailPageFormWrapper .DescriptionWrapper {
        position: absolute;
        right: 0;
        top: 37px;
    }

.LessonPlanInfoBlockViews .RadEditor {
    min-width: 910px !important;
}

    .LessonPlanInfoBlockViews .RadEditor .reContentArea {
        min-width: 99% !important;
    }

/*
.LessonPlanInfoBlockViews .RadEditor .reContentCell {
    max-height: 171px !important;
    height:171px !important;
}

.LessonPlanInfoBlockViews .RadEditor table iframe {
    max-height: 171px !important;
}

.LessonPlanInfoBlockViews .RadEditor table iframe html {
    overflow:auto !important;
}*/
