.RadDock_Prodigy .rdMiddle .rdLeft,
.RadDock_Prodigy .rdMiddle .rdRight
{
	background-image: url('Dock/VerticalSprite.gif');
}

.RadDock_Prodigy .rdTop .rdLeft,
.RadDock_Prodigy .rdTop .rdRight,
.RadDock_Prodigy .rdTop .rdCenter,
.RadDock_Prodigy .rdBottom .rdLeft,
.RadDock_Prodigy .rdBottom .rdRight,
.RadDock_Prodigy .rdBottom .rdCenter
{
	background-image: url('Dock/HorizontalSprite.png');
}

.RadDock_Prodigy .rdCenter .rdCommands a span
{
	background-image: url('Dock/CommandSprite.png');
}

*html .RadDock_Prodigy .rdCenter .rdCommands a span
{
	background-image: url('Dock/CommandSprite.gif');
}

.RadDock_Prodigy .rdMiddle .rdCenter,
.RadDock_Prodigy .rdBottom .rdCenter
{
	background-color: #4b4b4b;
}

.RadDock_Prodigy .rdContent
{
	background-color: #4b4b4b;
	color: #e2e2e2;
}

.RadDock_Prodigy .rdTitleBar em
{
	color: #fff;
}

.RadDockZone_Prodigy
{
	border-color: #4b4b4b;
}

