/**
 * Organizational Chart Office2010Black Skin
 */




/*----------------------------------------------------------------------------*/




/** Global wrapper */
.RadOrgChart_Prodigy {
	color: #ffffff;
	font: normal 12px/22px "Segoe UI", Arial, sans-serif;
}




/** Viewport */
.RadOrgChart_Prodigy .rocViewport {}




/** NodeList */
.RadOrgChart_Prodigy .rocNodeList {}




/** Node */
.RadOrgChart_Prodigy .rocNode {}




/** Group */
.RadOrgChart_Prodigy .rocGroup {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
	background-color: #333333;
	background-color: rgba(255, 255, 255, .2);
	*background-color: #333333;
	behavior: url(/Templates/Scripts/PIE.htc);
}




/** ItemList */
.RadOrgChart_Prodigy .rocItemList {}




/** ItemWrap */
.RadOrgChart_Prodigy .rocItemWrap {}




/** Items */
.RadOrgChart_Prodigy .rocItem {
	color: #000000;
}


	.RadOrgChart_Prodigy .rocItemContent,
	.RadOrgChart_Prodigy .rocItemTemplate {
		border-color: #2c2c2c;
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius:5px 5px 5px 5px;
        -webkit-border-radius:5px 5px 5px 5px;
		background-color: #949494;
		background-image: url('OrgChart/rocItemTileLight.png');
		_background-image: none;
		behavior: url(/Templates/Scripts/PIE.htc);
	}




/** Node lines */
.RadOrgChart_Prodigy .rocLineUp,
.RadOrgChart_Prodigy .rocLineDown,
.RadOrgChart_Prodigy .rocLineHorizontal {
	background-image: url('OrgChart/rocLinesLight.png');
}