/* RadSplitter for ASP.NET AJAX - Office2010Black Skin */

/* Borders */
.RadSplitter_Prodigy,
.RadSplitter_Prodigy .rspPaneTabContainer,

/* Vertical RadSplitter items */
.RadSplitter_Prodigy .rspPane, 
.RadSplitter_Prodigy .rspResizeBar,
.RadSplitter_Prodigy .rspSlideContainerResize,

/* Horizontal RadSplitter items */
.RadSplitter_Prodigy .rspPaneHorizontal,
.RadSplitter_Prodigy .rspResizeBarHorizontal,
.RadSplitter_Prodigy .rspSlideContainerResizeHorizontal
{
	border-color:#2c2c2c;
}

/* When ShowContentDuringLoad="false" */
.RadSplitter_Prodigy .rspLoading
{
    background-image: url('Common/loading.gif');
}

/* RadSplitBar/RadSlidingPane resize elements */
.RadSplitter_Prodigy .rspResizeBar,
.RadSplitter_Prodigy .rspSlideContainerResize
{
	background:#ececec url('Splitter/ResizeBarVerticalSprites.gif') repeat-y 0 0;
    border-right-color:#2c2c2c;
}

.RadSplitter_Prodigy .rspResizeBarOver,
.RadSplitter_Prodigy .rspSlideContainerResizeOver
{
    background-position:-4px 0;
}

.RadSplitter_Prodigy .rspResizeBarHorizontal,
.RadSplitter_Prodigy .rspSlideContainerResizeHorizontal
{
	background:#ececec url('Splitter/ResizeBarHorizontalSprites.gif') repeat-x 0 0;
    border-bottom-color:#2c2c2c;
}

.RadSplitter_Prodigy .rspResizeBarOverHorizontal,
.RadSplitter_Prodigy .rspSlideContainerResizeOverHorizontal
{
    background-position:0 -4px;
}

/* RadSlidingPane tab */
.RadSplitter_Prodigy .rspPaneTabContainer,
/* RadSlidingPane buttons */
.RadSplitter_Prodigy .rspSlideHeaderDockIcon,
.RadSplitter_Prodigy .rspSlideHeaderUndockIcon,
.RadSplitter_Prodigy .rspSlideHeaderCollapseIcon,
/* RadSplitBar buttons */
.RadSplitter_Prodigy .rspCollapseBarExpand,
.RadSplitter_Prodigy .rspCollapseBarCollapse,

.RadSplitter_Prodigy .rspCollapseBarHorizontalExpand,
.RadSplitter_Prodigy .rspCollapseBarHorizontalCollapse
{
    background-image:url('Splitter/ExpandCollapseBarsCommands.gif');
    background-repeat:no-repeat;
}

/* RadSlidingPane tab */
.RadSplitter_Prodigy .rspPaneTabContainer
{
    background-position:-81px 0;
    background-repeat:repeat-y;
}

/* RadSplitBar buttons */
.RadSplitter_Prodigy .rspCollapseBarCollapse
{	
	background-position:0 0;
}
.RadSplitter_Prodigy .rspCollapseBarCollapseOver
{
    background-position:-192px 0;
}

.RadSplitter_Prodigy .rspCollapseBarExpand
{	
	background-position:-4px 0;
}
table.RadSplitter_Prodigy .rspCollapseBarExpandOver
{
    background-position:-196px 0;
}

.RadSplitter_Prodigy .rspCollapseBarHorizontalExpand
{
    background-position:-8px -4px;
}
.RadSplitter_Prodigy .rspCollapseBarHorizontalExpandOver
{
    background-position:-8px -12px;
}

.RadSplitter_Prodigy .rspCollapseBarHorizontalCollapse
{
    background-position:-8px 0;
}
.RadSplitter_Prodigy .rspCollapseBarHorizontalCollapseOver
{
    background-position:-8px -8px;
}

/* RadSlidingPane buttons */
.RadSplitter_Prodigy .rspSlideHeaderUndockIcon
{
	background-position:-50px 0;
}

.RadSplitter_Prodigy .rspSlideHeaderDockIcon
{
	background-position:-35px 0;
}

.RadSplitter_Prodigy .rspSlideHeaderCollapseIcon
{
	background-position:-65px 0;
}

/* RadSlidingPane header */
.RadSplitter_Prodigy .rspSlideHeader, 
/* RadSlidingPane title */
.RadSplitter_Prodigy .rspSlideTitleContainer,
/* RadSlidingPane tab, SlideDirection=Top/Bottom */
.RadSplitter_Prodigy .rspBottom .rspPaneTabContainer,
.RadSplitter_Prodigy .rspTop .rspPaneTabContainer
{
	background-image:url('Splitter/slideTitleContainerBgr.gif');
	background-repeat:repeat-x;
}

.RadSplitter_Prodigy .rspBottom .rspPaneTabContainer,
.RadSplitter_Prodigy .rspTop .rspPaneTabContainer
{
    background-position:0 -1px;
}

/* RadSlidingPane title text */
.RadSplitter_Prodigy .rspSlideTitle,
/* RadSlidingPane tab text */
.RadSplitter_Prodigy .rspPaneTabText
{
	font:normal 10px "Segoe UI", Arial, Sans-serif;
	color:#fff;
}
.RadSplitter_Prodigy .rspSlideTitle
{	
	font-size:12px;
}

/* RadSlidingPane content - this element should not be transparent as it shows above content in adjacent RadPanes */
.RadSplitter_Prodigy .rspSlideContent
{
	background-color:#4b4b4b;
	color: #fff;
}