/*-------------------------------Dashboard Styles------------------------------------------*/

/*.dashboardcontainer {
    padding-right: 15px;
    padding-top: 40px;	
}*/

.dashboardclear {
	clear:both	
}

.myControlPanelConstraint {
    /*width: 945px;*/
    margin-left:auto;
    margin-right:auto;
}

.panel {
    height: 330px;
    /*width: 32%;*/
    width:33%; /*-- Widened Layout --*/
	position:relative;
	float:left;
	margin-right:15px;
	margin-bottom:22px;
	padding: 0 20px 15px;
}

.adminpanel {
    height:200px;
}

.panelhead {
	color: #FFFFFF;
    font-family: 'Muli',Arial,sans-serif;
    height: 39px;
    margin-left: -22px;
    padding-left: 15px;
    position: absolute;
    text-align: left;
    top: -10px;
    /*width: 346px;*/
    width: 422px; /*-- Widened Layout --*/
}

.sidepanelhead {
	color: #FFFFFF;
    font-family: 'Muli',Arial,sans-serif;
    height: 39px;
    margin-left: -22px;
    padding-left: 15px;
    position: absolute;
    text-align: left;
    top: -10px;
    /*width: 242px;*/
    width: 289px; /*-- Widened Layout --*/
}

.panelcontent {
	padding-top:35px;
    
}

.sidepanel {
	float: right;
    height: 701px;
    margin-right: -20px;
    padding: 0 20px 15px;
    /*width: 198px;*/
    width: 260px; /*-- Widened Layout --*/
	position:relative;	
}

.adminsidepanel {
    height:441px;
}

.enrollmentpanel {
	border: 2px solid #F9A51A;
}

.enrollmentpanelhead {
	background: url(../Images/enrollmentpaneheaderbg.png)	no-repeat top left;
}

.attendancepanel {
	/*border: 2px solid #FFCC00;*/
	border: 2px solid #387EB8;
}

.attendancepanelhead {
	background: url(../Images/attendancepaneheaderbg.png)	no-repeat top left;
}

.reportingpanel {
	border: 2px solid #72BE44;	
}

.reportingpanelhead {
	background: url(../Images/reportingpaneheaderbg.png)	no-repeat top left;
}

.coursespanel {
	border: 2px solid #A054A0;	
}

.coursespanelhead {
	background: url(../Images/coursespaneheaderbg.png)	no-repeat top left;
}

.eventspanel {
	border: 2px solid #5ABCA3;	
}

.eventspanelhead {
	background: url(../Images/eventspaneheaderbg.png)	no-repeat top left;
}

.panel h2, .sidepanel h2 {
	font-size: 1.4em;
	margin-top: 11px;	
}

.panel p {
	/*width: 200px;*/
	width: 290px; /*-- Widened Layout --*/
	line-height:1.35em;	
}

.attendancepanel p {
    width:300px;
}

.eventspanel p {
    width:305px;
}

.panel ul {
    padding-left:25px;
}

.panel .panelicon, .sidepanel .panelicon {
	/*background: none repeat scroll 0 0 #F1F2F2;
    border: 1px solid #999999;*/
    float: right;
    /*height: 80px;
    margin-bottom: 45px;*/
    margin-left: 10px;
    margin-top: 14px;
    /*width: 80px;	*/
}

.sidepanel .panelicon {
	margin-bottom:5px;
	margin-left:17px;
}

.panel .mybutton {
	position:absolute;
	bottom:15px;
	right:20px;	
	width:65px;
}

.sidepanel ul{
	padding-left:15px;
	padding-top:5px;
	line-height:1.2em;
}

.sidepanel ul li {
	padding-bottom:10px;	
	color: #387EB8;
}

.sidepanel ul li span {
	color: 	#58595B;
}

.sidepanel ul li a span {
	color: 	inherit;
}

.sidepanel ul li a {
	text-decoration:none;
	color: #387EB8;
}

.sidepanel ul li a:hover {
	color: #FFCC00;
}

/*-------------------------------Admin Dashboard Styles------------------------------------------*/

.sidepanel .mybutton {
	position:absolute;
	bottom:15px;
	right:20px;	
	width:65px;
}

.typespanelhead {
	background: url(../Images/typespaneheaderbg.png) no-repeat top left;
}

.bulkeditpanelhead {
	background: url(../Images/bulkeditpaneheaderbg.png) no-repeat top left;
}

.typespanel ul li {
	padding-bottom:3px;	
}