body {
	background-color: white;
	padding: 0;
	margin: 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #58595B;
}

a {
	color: #387EB8;
}

	a:hover {
		color: #FFCC00;
	}

	a:visited {
		color: #A054A0;
	}

	a img {
		border: none;
	}

	a[disabled="disabled"] {
		color: #cccccc;
		cursor: default;
	}

	a:hover[disabled="disabled"] {
		color: #cccccc;
		background: none;
	}

.outercontainer {
	width: 100%;
	height: 100%;
	position: relative;
}

.innercontainer {
	/*width:960px;*/
	width: 1200px; /*-- Widened Layout --*/
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding-top: 40px;
	margin-top: 0;
	position: relative;
	/*width:960px;*/
	width: 1200px; /*-- Widened Layout --*/
	height: auto;
	padding-bottom: 10px;
}


/*--------------------Wide Layout------------------*/

.widecontent {
	padding-right: 15px;
	/*padding-top: 40px;*/
	margin-top: 40px;
}

/*----------------------Logo------------------------*/

.header h1 {
	padding: 0;
	margin: 0;
	float: left;
}

h1 a.logo {
	background: url(../Images/prodigy_logo.png) top left no-repeat;
	width: 210px;
	height: 127px;
	display: block;
	position: relative;
	left: 12px;
	top: -7px;
}

	h1 a.logo span {
		position: absolute;
		top: -10000px;
	}

/*--------------------Topnav-----------------------*/

.topnav {
	position: absolute;
	left: 255px;
	top: 30px;
	width: 40%;
	color: #A6A8AB;
}

	.topnav, .topnav a {
		font-size: .95em;
		text-decoration: none;
		float: left;
	}

		.topnav ul {
			float: left;
			list-style: none outside none;
			margin: 0;
			padding: 0;
		}

			.topnav ul li {
				display: block;
				float: left;
				list-style: none outside none;
				margin: 0;
			}

.seperator {
	border-right: 1px solid #A6A8AB;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 15px;
	margin-left: 15px;
}

/*--------------------User nav-----------------------*/

.usernav {
	position: absolute;
	right: 0;
	top: 30px;
	width: 40%;
	text-align: right;
}

	.usernav p {
		font-size: 1.1em;
		margin-top: 0;
	}

	span.userName, .usernav span.userName {
		font-weight: bold;
		color: #F9A51A;
	}

	.usernav, .usernav a {
		font-size: .95em;
		text-decoration: none;
	}

		.usernav ul {
			float: right;
			list-style: none outside none;
			margin: 0;
			padding: 0;
			color: #A6A8AB;
		}

			.usernav ul li {
				display: block;
				float: left;
				list-style: none outside none;
				margin: 0;
				text-align: left;
			}

				.usernav ul li[id="Header1_Loginview1_LiAdminLink"], .usernav ul li[id="Loginview1_LiAdminLink"], .usernav ul li[class="AdminLink"] {
					width: 104px;
				}

		.usernav .temporaryHide {
			display: none;
		}


/*--------------------Main nav-----------------------*/

.mainnav {
	/*width:90%;*/
	/*-- Widened Layout --*/
	font-family: 'Muli', Arial, sans-serif;
	text-align: left;
	line-height: 1.25em;
	margin-left: 250px;
	margin-top: 48px;
}

	.mainnav, .mainnav a {
		color: #26C2E0;
		font-size: 1.13em;
		text-decoration: none;
	}

		.mainnav a[disabled="disabled"] {
			color: #cccccc;
			cursor: default;
		}

		.mainnav a:hover[disabled="disabled"] {
			color: #cccccc;
			background: none;
		}

		.mainnav a:hover {
			background: url(../Images/navbarbg_hover.png) bottom left repeat-x;
		}

		.mainnav a:hover {
			color: #FFCC00;
		}

		.mainnav ul {
			float: left;
			list-style: none outside none;
			margin: 0;
			padding: 0;
			background: url(../Images/navbarbg.jpg) bottom left repeat-x;
			border-radius: 10px 10px 10px 10px;
			-moz-border-radius: 10px 10px 10px 10px;
			-webkit-border-radius: 10px 10px 10px 10px;
			border: 1px solid #D3D3D3;
			/*width:83%;*/
			width: 100%; /*-- Widened Layout --*/
			behavior: url(/Templates/Scripts/PIE.htc);
		}

			.mainnav ul li {
				display: block;
				float: left;
				list-style: none outside none;
				margin: 0;
				height: 40px;
				width: auto;
				margin-right: 1px;
				position: relative;
			}

				.mainnav ul li a {
					/*padding-top:11px;*/
					padding-top: 13px;
					display: block;
					/*height:75%;*/
					padding-right: 15px;
					padding-left: 15px;
					height: 71%;
				}

				/*@-moz-document url-prefix() {
	.mainnav ul li a {
		padding-top: 12px !important;
		height: 73%;
	}
}*/

				.mainnav ul li.currentPage a {
					color: #FFCC00;
					background: url(../Images/navbarbg_hover.png) bottom left repeat-x;
				}

		.mainnav .seperator {
			border-left: 1px solid #ddd;
			border-right: 1px solid #fff;
			padding-top: 2px;
			padding-bottom: 2px;
			margin: 0;
			position: absolute;
			top: 4px;
			left: 0;
			height: 28px;
		}

		.mainnav ul li a.firstMain {
			border-radius: 10px 0 0 10px;
			-moz-border-radius: 10px 0px 0px 10px;
			-webkit-border-radius: 10px 0px 0px 10px;
			behavior: url(/Templates/Scripts/PIE.htc);
		}

/*--------------------Toolbar-----------------------*/

.toolbar {
	/*width:90%;*/
	width: 80%; /*-- Widened Layout --*/
	margin-left: 250px;
	margin-top: 100px;
}

.sidetoolbar {
	width: 131px;
	margin-top: 20px;
}

.toolbar ul li a.managelocking {
	background: url(../Images/lockdatebutton.png) top left no-repeat;
	width: 257px;
}

	.toolbar ul li a.managelocking:hover {
		background: url(../Images/lockdatebutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.importDJJ {
	background: url(../Images/importDJJbutton.png) top left no-repeat;
	width: 126px;
}

	.toolbar ul li a.importDJJ:hover {
		background: url(../Images/importDJJbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.diversionEnrollment {
	background: url(../Images/diversionenrollmentbutton.png) top left no-repeat;
	width: 212px;
}

	.toolbar ul li a.diversionEnrollment:hover {
		background: url(../Images/diversionenrollmentbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.preventionEnrollment {
	background: url(../Images/preventionenrollmentbutton.png) top left no-repeat;
	width: 212px;
}

	.toolbar ul li a.preventionEnrollment:hover {
		background: url(../Images/preventionenrollmentbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.activeLPSets {
	background: url(../Images/activelpsetsbutton.png) top left no-repeat;
	width: 116px;
}


	.toolbar ul li a.activeLPSets:hover {
		background: url(../Images/activelpsetsbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.inprogressLPSets {
	background: url(../Images/inprogresssbutton.png) top left no-repeat;
	width: 116px;
}


	.toolbar ul li a.inprogressLPSets:hover {
		background: url(../Images/inprogresssbutton.png) top left no-repeat;
	}

.toolbar ul li a.completeLPSets {
	background: url(../Images/completelpsetsbutton.png) top left no-repeat;
	width: 146px;
}



	.toolbar ul li a.completeLPSets:hover {
		background: url(../Images/completelpsetsbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.manageContracts {
	background: url(../Images/manageContractsbutton.png) top left no-repeat;
	width: 166px;
}

	.toolbar ul li a.manageContracts:hover {
		background: url(../Images/manageContractsbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.managePositions {
	background: url(../Images/managePositionsbutton.png) top left no-repeat;
	width: 163px;
}

	.toolbar ul li a.managePositions:hover {
		background: url(../Images/managePositionsbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.reviewLessonPlanSets {
	background: url(../Images/reviewLPbutton.png) top left no-repeat;
	width: 202px;
}

	.toolbar ul li a.reviewLessonPlanSets:hover {
		background: url(../Images/reviewLPbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newInventoryItem {
	background: url(../Images/newinventoryitembutton.png) top left no-repeat;
	width: 173px;
}

	.toolbar ul li a.newInventoryItem:hover {
		background: url(../Images/newinventoryitembutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.addStaffMember {
	background: url(../Images/addstaffmemberbutton.png) top left no-repeat;
	width: 164px;
}

	.toolbar ul li a.addStaffMember:hover {
		background: url(../Images/addstaffmemberbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newEvent {
	background: url(../Images/neweventbutton.png) top left no-repeat;
	width: 114px;
}

	.toolbar ul li a.newEvent:hover {
		background: url(../Images/neweventbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.addAttendance {
	background: url(../Images/addattendancebutton.png) top left no-repeat;
	width: 149px;
}

	.toolbar ul li a.addAttendance:hover {
		background: url(../Images/addattendancebutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newSiteLocation {
	background: url(../Images/addsitelocationbutton.png) top left no-repeat;
	width: 158px;
}

	.toolbar ul li a.newSiteLocation:hover {
		background: url(../Images/addsitelocationbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newEnroll {
	background: url(../Images/newenrollmentbutton.png) top left no-repeat;
	width: 149px;
}

	.toolbar ul li a.newEnroll:hover {
		background: url(../Images/newenrollmentbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newRA {
	background: url(../Images/newrabutton.png) top left no-repeat;
	width: 186px;
}

	.toolbar ul li a.newRA:hover {
		background: url(../Images/newrabutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newAttendance {
	background: url(../Images/newattendancebutton.png) top left no-repeat;
	width: 154px;
}

	.toolbar ul li a.newAttendance:hover {
		background: url(../Images/newattendancebutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.preenrolled {
	background: url(../Images/preenrolledyouth.png) top left no-repeat;
	width: 167px;
}

	.toolbar ul li a.preenrolled:hover {
		background: url(../Images/preenrolledyouth_hover.png) top left no-repeat;
	}

	.toolbar ul li a.rollover {
	background: url(../Images/rolloverYouth.png) top left no-repeat;
	width: 167px;
}

	.toolbar ul li a.rollover:hover {
		background: url(../Images/rolloveryouth_hover.png) top left no-repeat;
	}

.toolbar ul li a.searchClasses {
	background: url(../Images/searchclassesbutton.png) top left no-repeat;
	width: 145px;
}

	.toolbar ul li a.searchClasses:hover {
		background: url(../Images/searchclassesbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.viewClassCatalogs {
	background: url(../Images/viewclasscatalogbutton.png) top left no-repeat;
	width: 170px;
}

	.toolbar ul li a.viewClassCatalogs:hover {
		background: url(../Images/viewclasscatalogbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newClass {
	background: url(../Images/newclassbutton.png) top left no-repeat;
	width: 116px;
}

	.toolbar ul li a.newClass:hover {
		background: url(../Images/newclassbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.newLessonPlanSet {
	background: url(../Images/newlessonplansetbutton.png) top left no-repeat;
	width: 181px;
}

	.toolbar ul li a.newLessonPlanSet:hover {
		background: url(../Images/newlessonplansetbutton_hover.png) top left no-repeat;
	}

.toolbar ul li a.inactiveYouth {
	background: url(../Images/inactiveyouthbutton.png) 0 -1px no-repeat;
	width: 146px;
}

	.toolbar ul li a.inactiveYouth:hover {
		background: url(../Images/inactiveyouthbutton_hover.png) 0 -1px no-repeat;
	}

/*.toolbar ul li a.activeYouth {
	background: url(../Images/activeyouthbutton.png) 0 -1px no-repeat;
	width: 136px;	
}

.toolbar ul li a.activeYouth:hover {
	background: url(../Images/activeyouthbutton_hover.png) 0 -1px no-repeat;	
}*/

.toolbar ul li a.activeYouth {
	background: url(../Images/enrolleryouthbutton.png) top left no-repeat;
	width: 143px;
}

	.toolbar ul li a.activeYouth:hover {
		background: url(../Images/enrolleryouthbutton_hover.png) top left no-repeat;
	}

/*.toolbar li:hover, .sidetoolbar li:hover {
	background: url(../Images/rollover.png) bottom left repeat-x;	
}*/

.sidetoolbar ul li a.transferClient {
	background: url(../Images/transferclientbutton.png) top left no-repeat;
	width: 131px;
}

	.sidetoolbar ul li a.transferClient:hover {
		background: url(../Images/transferclientbutton_hover.png) top left no-repeat;
	}

.sidetoolbar ul li a.releaseYouth {
	background: url(../Images/releaseyouthbutton.png) top left no-repeat;
	width: 131px;
}

	.sidetoolbar ul li a.releaseYouth:hover {
		background: url(../Images/releaseyouthbutton_hover.png) top left no-repeat;
	}

.sidetoolbar ul li a.createCertificate {
	background: url(../Images/createcertificatebutton.png) top left no-repeat;
	width: 131px;
}

	.sidetoolbar ul li a.createCertificate:hover {
		background: url(../Images/createcertificatebutton_hover.png) top left no-repeat;
	}

.sidetoolbar ul li a.riskAssessment {
	background: url(../Images/riskassessmentbutton.png) top left no-repeat;
	width: 131px;
}

	.sidetoolbar ul li a.riskAssessment:hover {
		background: url(../Images/riskassessmentbutton_hover.png) top left no-repeat;
	}

.toolbar ul, .sidetoolbar ul {
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 83%;
}

.toolbar ul {
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 99%;
}

	.toolbar ul li, .sidetoolbar ul li {
		display: block;
		float: left;
		list-style: none outside none;
		margin: 0;
		height: 31px;
		width: auto;
		margin-right: 5px;
		position: relative;
	}

		.toolbar ul li a, .sidetoolbar ul li a {
			display: block;
			height: 100%;
		}

			.toolbar ul li a span, .sidetoolbar ul li a span {
				position: absolute;
				top: -10000px;
			}


/*------------------Sidebar & Secondary Navigation----------------------*/

.sidebar {
	width: 239px;
	height: 100%;
	float: left;
	position: relative;
	/*margin-left:-13px;
	margin-right:26px;*/
	margin-top: -3px;
}

	.sidebar .searchhead {
		background: url(../Images/searchheaderbg.png) top center no-repeat;
		height: 39px;
		color: #fff;
		font-family: 'Muli', Arial, sans-serif;
		text-align: left;
		padding-left: 15px;
	}

		.sidebar .searchhead h2 {
			padding-top: 11px;
			font-weight: normal;
			font-size: 1.4em;
		}

	.sidebar .sidecontent {
		border: 1px solid #CCCCCC;
		border-top: none;
		background-color: #FCFCFC;
		color: #58595B;
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		min-height: 500px;
		height: 100%;
	}

.sidebarclear {
	height: 15px;
	width: 100%;
	clear: both;
}


/*-----------TOOLTIP -----------------------*/
.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #161616;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-size: 12px;
}
/*------------------Form Elements----------------------*/

.myfield {
	border: 1px solid #D0D2D3;
	padding: 2px;
	padding-bottom: 4px;
	padding-left: 5px;
	margin-top: -4px;
	font-size: 12px;
	color: #58595B;
}



.myfield-plain {
	border: 0px solid #D0D2D3;
	padding: 2px;
	padding-bottom: 4px;
	padding-left: 5px;
	margin-top: -4px;
	font-size: 12px;
	color: #58595B;
}

.mylabel {
	display: inline-block;
	height: 34px;
}

.mylabel-right {
	display: inline-block;
	height: 34px;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}

.mytextarealabel {
	float: left;
}

.midsize .mybutton {
	width: 125px;
	margin-bottom: 15px;
	margin-top: 0px;
}

.midsize .mytopbutton {
	width: 125px;
	margin-bottom: 15px;
	margin-top: 0px;
}

.smIcon {
	height: 24px;
	width: 24px;
}

.largesize .mybutton {
	width: 190px;
	margin-bottom: 15px;
	margin-top: 0px;
}

.mytopbutton {
	margin-top: 1px;
	background: #F9A51A;
	border: none;
	color: #fff;
	font-family: 'Muli', Arial, sans-serif;
	font-size: 1.25em;
	width: 110px;
	height: 29px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	text-align: center;
	padding-bottom: 2px;
	behavior: url(/Templates/Scripts/PIE.htc);
}




	.mytopbutton:hover {
		background-color: #e8bb0b;
	}

.toolbar ul li a span.mytopbutton {
	color: #fff;
}

.mybutton {
	background: #F0047F;
	border: none;
	color: #fff;
	font-family: 'Muli', Arial, sans-serif;
	font-size: 1.25em;
	width: 90px;
	height: 30px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	text-align: center;
	padding-bottom: 2px;
	behavior: url(/Templates/Scripts/PIE.htc);
}

	.mybutton:hover {
		background-color: #d71865;
	}

	.mybutton[disabled=disabled] {
		background-color: lightgray;
	}


.myReturnButton {
	width: auto;
}

.mysidelabel {
	float: left;
}

.mysidefield, .sidebar .RadComboBox_Prodigy,
.RadComboBox_Prodigy .rcbInput,
.RadComboBoxDropDown_Prodigy {
	float: right;
	width: 135px;
}

.mysidebutton {
	float: right;
	width: 80px;
	margin-top: 15px;
}

.mydropdown {
	width: 141px;
}

.RadPicker {
	margin-top: -6px;
	margin-bottom: 10px;
}

.dateseperator {
	position: relative;
	top: -10px;
	padding-left: 5px;
	padding-right: 5px;
	left: -2px;
}

.myfieldset {
	border: 1px solid #26C2E0;
}

	.myfieldset legend {
		padding-left: 5px;
		padding-right: 5px;
	}

.myRadForm .myfieldset legend, .myRadForm .myfieldset label {
	font-family: Arial, Verdana, Sans-Serif;
}

.myRadForm .myfieldset .rfdCheckboxChecked, .myRadForm .myfieldset .rfdCheckboxUnchecked, .myRadForm .myfieldset .rfdRadioUnchecked, .myRadForm .myfieldset .rfdRadioChecked {
	padding-left: 35px !important;
}

.mydelete {
	background: url(../Images/deleteicon.png) 10px 8px no-repeat #F0047F;
	padding-right: 10px;
	text-align: right;
	float: left;
}

.myprint {
	background: url(../Images/printicon.png) 10px 9px no-repeat #F0047F;
	padding-right: 20px;
	text-align: right;
	float: right;
}



.mysave {
	background: url(../Images/saveicon.png) 10px 9px no-repeat #F0047F;
	padding-right: 18px;
	text-align: right;
	float: right;
	margin-right: 15px;
}

.myeditdatepicker {
	width: 570px;
}

.myeditdatepickerlabel {
	float: left;
}

.myeditdatepicker .myenrollmentdate {
	margin-left: 3px;
}



.AttendanceSearchPanel .EventNameLabel, .AttendanceSearchPanel .AttendeeNameLabel, /*.InventorySearchPanel .ManufacturerLabel, .InventorySearchPanel .OrganizationLabel, .InventorySearchPanel .UACDCTagLabel,*/ .ClassSearchPanel .InstructorAssistantLabel {
	height: auto;
	margin-bottom: 15px;
}

.AttendanceSearchPanel .EventNameField, .AttendanceSearchPanel .AttendeeNameField /*, .InventorySearchPanel .ManufacturerField, .InventorySearchPanel .OrganizationField, .InventorySearchPanel .UACDCTagField*/ {
	width: 96%;
	float: none;
}

.ClassSearchPanel .InstructorAssistantField {
	float: none;
}

.AttendanceSearchPanel .AttendeeNameField {
	margin-bottom: 20px;
}

.AttendanceSearchPanel .EventNameField, /*.InventorySearchPanel .OrganizationField,*/ .ClassSearchPanel .InstructorAssistantField {
	margin-bottom: 10px;
}

/*.InventorySearchPanel .ManufacturerField, .InventorySearchPanel .UACDCTagField{
	margin-bottom:17px;
}*/

.InventorySearchPanel .myfield {
	width: 125px !important;
}

.InventorySearchPanel .mydropdown {
	width: 132px !important;
}

/*------------------Main Content block----------------------*/

.contentcontainer {
	position: relative;
	width: 100%;
	height: 100%;
}

.maincontent {
	float: right;
	/* margin-right: -3px;*/
	margin-right: 1px; /*-- Widened Layout --*/
	margin-top: 11px;
	/*width: 74%;*/
	width: 79%; /*-- Widened Layout --*/
}

.editButtons {
	margin-top: 5px;
}

.maincontent p {
	line-height: 1.5em;
}

.InventoryItemWrapper h2 {
	color: #26C2E0;
	float: left;
	font-family: 'Muli',Arial,sans-serif;
	font-size: 1.4em;
	margin-right: 20px;
	margin-top: 0;
}

.EventAttendances h2 {
	color: #26C2E0;
	font-family: 'Muli',Arial,sans-serif;
	font-size: 1.4em;
	margin-right: 20px;
	margin-top: 0;
}

/*------------------Tabbed Content----------------------*/

.maincontent .RadTabStrip {
	margin-top: -4px;
}

.maincontent .tabcontainer, .maincontent .tabcontainer .tabcontent {
	/*--.sidebar .sidecontent min-height - 47px --*/
	min-height: 453px;
	height: 100%;
}

.tabcontainer {
	background-color: #26C2E0;
	height: 100%;
	min-height: 500px;
	padding: 15px;
}

.widetabcontainer {
	margin-right: -11px;
}

.tabcontent {
	background-color: #fff;
	height: 100%;
	min-height: 500px;
	padding: 20px;
	position: relative;
}

.EnrollmentFormConstraint {
	width: 640px;
}
/*-- Widened Layout --*/
.EnrollmentFormContainer {
	margin-right: 10px;
}

.row {
	height: auto;
	position: relative;
	width: 100%;
	clear: both;
	/*top: -439px;
	left: -611px;*/
}

.entryDetails {
	/*float:right;*/
	text-align: right;
	font-size: .75em;
	line-height: 1.6em;
	position: absolute;
	top: 20px;
	right: 20px;
}

.sectionHead {
	color: #A054A0;
	/*width:50%;*/
	margin-top: 0;
	margin-bottom: 25px;
	float: left;
}

.sectionDivider {
	border-top: 1px solid #26C2E0;
	margin: auto;
	margin-left: auto;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 30px;
	display: block;
}

/*------------------Footer----------------------*/

.footer {
	padding-top: 160px;
	margin-bottom: 20px;
	width: 100%;
	clear: both;
	position: relative;
}

	.footer .copyright {
		line-height: .75em;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.footer .sponsors {
		position: absolute;
		right: 0;
		bottom: 10px;
	}

		.footer .sponsors div {
			float: left;
			margin-left: 20px;
		}

			.footer .sponsors div .bays {
				margin-left: 0;
			}

		.footer .sponsors span {
			position: absolute;
			top: -10000000px;
		}

		.footer .sponsors .uacdc a {
			background: url(../Images/uacdclogo.jpg) top left no-repeat;
			width: 90px;
			height: 126px;
			display: block;
		}

        .footer .sponsors .fdjj a {
            background: url(../Images/djj_logo.png) top left no-repeat;
            width: 95px;
            height: 125px;
            display: block;
        }

		.footer .sponsors .hills a {
			background: url(../Images/hillslogo.jpg) top left no-repeat;
			width: 125px;
			height: 125px;
			display: block;
		}

	.footer a {
		text-decoration: none;
	}

/*------------------Technical Support----------------------*/

.TechnicalSupportContainer h2 {
	color: #26C2E0;
	font-family: 'Muli',Arial,sans-serif;
	font-size: 1.4em;
	margin-right: 20px;
	margin-top: 0;
}

.TechnicalSupportContainer textarea {
	margin-bottom: 15px;
	resize: none;
}

.TechnicalSupportContainer .mybutton {
	margin-right: 15px;
}

/*------------------My Account Support----------------------*/

.MyAccountContainer h2 {
	color: #26C2E0;
	font-family: 'Muli',Arial,sans-serif;
	font-size: 1.4em;
	margin-right: 20px;
	margin-top: 0;
}

/*------------------Inline Icons----------------------*/

.CalendarIcon {
	display: inline-block;
	width: 19px;
	height: 20px;
	background: url("../../App_Themes/Prodigy/Calendar/sprite.gif") no-repeat 0 0 transparent;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	top: 3px;
	left: -1px;
}

.DeleteIcon {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../../App_Themes/Prodigy/Grid/Delete.png") no-repeat 0 0 transparent;
	left: 0;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	top: 3px;
}

.AssignIcon {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../Images/youth_mini_icon.png") no-repeat 0 0 transparent;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	top: 2px;
	left: 1px;
}

.EditIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../../App_Themes/Prodigy/Grid/edit.gif") no-repeat 0 0 transparent;
	left: 1px;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	top: 3px;
}

.FilterIcon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url("../../App_Themes/Prodigy/Grid/filter_icon.png") no-repeat 0 0 transparent;
	height: 14px;
	width: 16px;
}

	.CalendarIcon em, .DeleteIcon em, .AssignIcon em, .EditIcon em, .FilterIcon em {
		display: none;
		font-style: normal;
		font-weight: normal;
	}

.InlineIcon {
	background: none scroll repeat transparent 0 0;
}

#ctl00_MainContentPlaceholder_ReportViewport_MainReportViewer_Toolbar > div > div {
	float: left;
}

.PrintComboValue, .PrintListChecked, .PrintTextValue {
	display: none;
}
