.InventoryItemWrapper .mylabel {
    width: 113px;
}

.InventoryItemWrapper .myenrollmentdob {
    margin-left: 0px;
}

.InventoryItemWrapper .row input[id*="TextBox"] {
    width: 152px;
}

.InventoryItemWrapper .CommentsWrapper textarea {
    resize:none;
    margin-bottom:18px;
    
}

.InventoryItemWrapper .CommentsWrapper .mylabel {
    float:left;
    width:116px;
}