/*--------------------Print Styles-----------------------*/

@media print {
    body {
        font-size:14pt;
        /*overflow:visible !important;*/
        font-family: Arial,Verdana,sans-serif;
        height:auto;
        min-height:0;
        width:100%;
    }
    .innercontainer {
        max-width: 101.5%;
    }
    
    .header, .sidebar, .footer, .editButtons, .RadTabStrip, .RadTabStripLeft_Prodigy, .RadTabStripVertical, .entryDetails, .PrintHide {
        display:none;
    }
    
    .maincontent {
        float:none;
        width:100%;
        margin:0;
        padding:0;
    }
    
    .tabcontainer, .tabcontent {
        background:none;
        margin:0;
        padding:0;
    }
    
    div[id*="RadPageView"] {
        display:block !important;
        margin-top:20px;
        clear:both;
    }
    
    input.rfdRealInput {left:auto;}
    
    input[type="checkbox"], input[type="radio"], .PrintListChecked {
        display: inline-block;
    }
    .widecontent {
        margin-top: 0;
    }
    .PrintComboValue, .PrintTextValue {
        display: block;
        font-size:14pt;
    }
    .PrintListChecked {
        font-weight: bold;
        font-size:14pt;
        line-height:14pt;
        margin-right:-3px;
    }
    .ua-firefox .EnrollmentFormContainer .PrintComboValue, .ua-firefox .EnrollmentFormContainer .PrintTextValue {
        display: block;
        font-size:11pt;
    }
    .ua-firefox .EnrollmentFormContainer .PrintListChecked {
        font-weight: bold;
        font-size:11pt;
        line-height:11pt;
        margin-right:-3px;
    }

    .ua-chrome .PrintListChecked {
        margin-right: -15px;
        position: relative;
        top: 0px;
    }
    .RadComboBox, .RadPicker .rcCalPopup, .RadPicker .rcTimePopup, .riSingle a.riUp, .riSingle a.riDown, .mytextbox {
        display: none !important;
    }

    .EnrollmentFormContainer .sectionHead {
        margin-bottom: 10px !important;
    }
    .RiskAssessmentFormContainer .sectionHead {
        margin-bottom: 5px !important;
    }

    .PrinterBreak, .ReleaseWrapper {page-break-before:always;}
    
    /*--------------------Enrollment Print Styles-----------------------*/
    .myenrollmentpickupparagraph {width:auto;}
    .ua-chrome .myenrollmentcurrentlyenrolled .PrintListChecked {margin-right:5px;}
    .myenrollmentparentsignature {padding-bottom:10px;}
    .myenrollmentcaseemergency p input[type="text"]{border-bottom:1px solid #D0D2D3 !important;padding-bottom:0;}
    .myenrollmentmedicalconditions {margin-top:0;}
    .subtitle {margin-bottom:5px;}
    .myenrollmentschool span:nth-of-type(2) {display:inline; font-size:14pt;margin-left:5px;}
    .ua-firefox .EnrollmentFormContainer .myenrollmentschool span:nth-of-type(2) {display:inline; font-size:11pt;margin-left:5px;}
    .ua-ie-8 .myenrollmentschool span {display:inline; font-size:14pt;margin-left:5px;}
    .myrecommendationcontainer .myOtherField {
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        position: relative;
        top: -28px !important;
    }
    .row, .myRelationshipLabel, .enrollmentRelationshipFields, .myenrollmentparentemail, .myenrollmentzip, .myenrollmentspecialneeds textarea {
        margin-bottom: 0 !important;
    }
    .row {padding-top:1px;padding-bottom:1px;}
    .myrecommendationcontainer {margin-bottom:-20px !important;}
    .mylabel {height:auto;}
    .myenrollmentshortcontainer {width:100% !important;}
    .myyouthtype {top:0;}
    .EnrollmentFormContainer p {margin-top:0;}
    .EnrollmentFormContainer .PrintSectionTitle h2 {
        margin-bottom: 0;
    }
    
    .EnrollmentFormContainer .myfield, .EnrollmentFormContainer .riTextBox  {
        border: none !important;
    }

    .EnrollmentFormContainer .PrintComboValue {
        display: inline-block;
        padding:2px 2px 4px 5px;
    }

    .EnrollmentFormContainer .sectionHead {
        font-size: 14pt;
    }
    .ua-firefox .EnrollmentFormContainer .sectionHead {
        font-size: 11pt;
    }
    .EnrollmentFormContainer .sectionDivider {
        margin: 10px auto 15px;
        clear:both;
    }

    table[id*="CheckBoxList"], table[id*="RadioButtonList"], table[id*="RadioList"], table[id*="RadiobuttonList"], table[id*="CheckBoxTransportationList"], table[id*="SignatureVerification"] {
        margin-top:0;
        margin-left:0;
        float:none;
        margin-right:0 !important;

        width:auto !important;
    }

    table[id*="CheckBoxList"] td, table[id*="RadioButtonList"] td, table[id*="RadioList"] td, table[id*="RadiobuttonList"] td, table[id*="CheckBoxTransportationList"] td, table[id*="SignatureVerification"] td {
        width: auto !important;
        padding-right:15px;
        display:inline-block;
    }
    .ua-ie table[id*="CheckBoxList"] td, .ua-ie table[id*="RadioButtonList"] td, .ua-ie table[id*="RadioList"] td, .ua-ie table[id*="RadiobuttonList"] td, .ua-ie table[id*="CheckBoxTransportationList"] td, .ua-ie table[id*="SignatureVerification"] td {
        float:left;
    }
    .enrollmentRelationshipFields table[id*="CheckBoxList"] td, .enrollmentRelationshipFields table[id*="RadioButtonList"] td, .enrollmentRelationshipFields table[id*="RadioList"] td, .enrollmentRelationshipFields table[id*="RadiobuttonList"] td, .enrollmentRelationshipFields table[id*="CheckBoxTransportationList"] td, .enrollmentRelationshipFields table[id*="SignatureVerification"] td {display:table-cell;float:none !important;}
    .EnrollmentFormContainer .mylabel, .EnrollmentFormContainer input, .EnrollmentFormContainer select, .EnrollmentFormContainer font, .EnrollmentFormContainer .PrintComboValue, table[id*="CheckBoxList"] label, table[id*="RadioButtonList"] label, table[id*="RadioList"] label, .EnrollmentFormContainer .subtitle, table[id*="RadiobuttonList"] label, table[id*="CheckBoxTransportationList"] label, table[id*="SignatureVerification"] label, .EnrollmentFormContainer p, .EnrollmentFormContainer textarea, .myRAchoices label{
        font-size:14pt !important;
        color: #58595B !important;
    }
    .ua-firefox .EnrollmentFormContainer .mylabel, .ua-firefox .EnrollmentFormContainer input, .ua-firefox .EnrollmentFormContainer select, .ua-firefox .EnrollmentFormContainer font, .ua-firefox .EnrollmentFormContainer .PrintComboValue, .ua-firefox .EnrollmentFormContainer table[id*="CheckBoxList"] label, .ua-firefox .EnrollmentFormContainer table[id*="RadioButtonList"] label, .ua-firefox table[id*="RadioList"] .EnrollmentFormContainer label, .ua-firefox .EnrollmentFormContainer .subtitle, .ua-firefox .EnrollmentFormContainer table[id*="RadiobuttonList"] label, .ua-firefox .EnrollmentFormContainer table[id*="CheckBoxTransportationList"] label, .ua-firefox .EnrollmentFormContainer table[id*="SignatureVerification"] label, .ua-firefox .EnrollmentFormContainer p, .ua-firefox .EnrollmentFormContainer textarea, .ua-firefox table[id*="CheckBoxList"] label, .ua-firefox table[id*="RadioButtonList"] label, .ua-firefox table[id*="RadioList"] label, .ua-firefox table[id*="RadiobuttonList"] label, .ua-firefox table[id*="CheckBoxTransportationList"] label, .ua-firefox table[id*="SignatureVerification"] label{
        font-size:11pt !important;
        color: #58595B !important;
    }
    table[id*="CheckBoxList"] .rfdCheckboxChecked, table[id*="RadioButtonList"] .rfdRadioUnchecked, table[id*="CheckBoxList"] .rfdCheckboxUnchecked, table[id*="RadioButtonList"] .rfdRadioChecked, table[id*="RadioList"] .rfdRadioChecked, table[id*="RadioList"] .rfdRadioUnchecked, table[id*="RadiobuttonList"] .rfdRadioChecked, table[id*="RadiobuttonList"] .rfdRadioUnchecked, table[id*="CheckBoxTransportationList"] .rfdCheckboxUnchecked, table[id*="CheckBoxTransportationList"] .rfdCheckboxChecked, table[id*="SignatureVerification"] .rfdRadioChecked, table[id*="SignatureVerification"] .rfdRadioUnchecked, .myRAchoices .rfdRadioUnchecked, .myRAchoices .rfdRadioChecked, input[type="radio"], input[type="checkbox"]{
        background-image: none !important;
        padding: 0 0 0 5px !important;
    }
    .ua-chrome input[type="radio"], .ua-chrome input[type="checkbox"]{
        display:none !important;
    }
    .EnrollmentFormContainer .mylabel{
        font-weight:bold;
        width:195px !important;
        float:left;
    }

    .myenrollmentdatecontainer .mylabel, .myenrollmentIDcontainer .mylabel, .myenrollmentMI .mylabel {
        width: auto !important;
        position:relative;
        top:3px;
    }

    .myenrollmentIDcontainer input {
        width: 64%;
    }

    .myenrollmentdob {
        display: block !important;
    }

    .myenrollmentdobcontainer .mylabel {
        width: 247px !important;
    }
    .myenrollmentlanguage .mylabel {
        width: 232px !important;
    }
    .myenrollmentage .mylabel {
        width: 155px !important;
    }
    .myrecommendationcontainer .myfield {
        float: none;
        margin-right: 0;
        margin-left: 292px;
    }
    
    .myenrollmentpickupAdd, .myenrollmentphysicianAdd {
        display:none;
    }

    .myenrollmentparentemail .myfield, .myenrollmentpolicynumber .myfield{width:300px;}
    
    .PrintSectionTitle{
        display:block;
        clear:both;
        width:100%;
    }

    .PrintSectionTitle h2{
        color: #26C2E0;
        font-family: 'Muli',Arial,sans-serif;
        font-size: 16pt;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom:10px;
    }
    
    .myenrollmentparentsignature input {
    width: auto;
    }
    
    .EnrollmentFormContainer .myenrollmentrace {width:685px !important;}
    
    .EnrollmentFormContainer .myenrollmentethnicity {width:868px !important;}
    
    .EnrollmentFormContainer .enrollmentGenderFields {margin-bottom: 10px !important;}
    
    .EnrollmentFormContainer .enrollmentRelationshipFields {
        float:left;
        margin-right:0;
        margin-left:52px;
        width:auto;
    }
    .EnrollmentFormContainer .enrollmentOtherProgramsFields{
        width: 180px;
        margin-right:625px;
    }
    .enrollmentEthnicityFields label[for="ctl00_MainContentPlaceholder_CheckBoxListEthnicity_2"] {
        left: 0px;
        position: relative;
    }

    .myenrollmentemergencycontactrelationship label {
        margin-right: 20px;
        padding-left: 27px !important;
        position: relative;
        top: 0;
    }

    .myenrollmentaddress .mylabel, .myenrollmentaddress2 .mylabel {
        width: 248px !important;
    }

    .myenrollmentaptnum span.mylabel {
        width:auto !important;
        margin-left:46px;
    }

    .myenrollmentcity span.mylabel, .myenrollmentstate span.mylabel, .myenrollmentcounty span.mylabel, .myenrollmentzip span {
        margin-right: 53px;
    }
    .myenrollmentzip {
        margin-bottom: 10px;
    }
    .myenrollmentIDcontainer {
        width: 350px;
    }
    .myenrollmentzip .RadInput {
        width: 100px !important;
    }
    .ParentGuardianInfoSection .ParentHomePhone {
        clear: left;
        width:42.25%;
    }
    .ParentGuardianInfoSection .ParentHomePhone .mylabel {
        width: 247px !important;
    }
    .addphone .myfield {
        width: 180px !important;
        padding-top:0 !important;
        padding-bottom:0 !important;
    }
    .ParentGuardianInfoSection .ParentWorkPhone span[id*="LabelPhone"] {
        width: 56px !important;
    }
    .ParentGuardianInfoSection .ParentCellPhone span[id*="LabelPhone"] {
        width: 41px !important;
    }
    .myenrollmentparentemail {
        margin-bottom: 20px;
    }
    .myenrollmentparentemail .mylabel {
        width: 215px !important;
    }
    .myenrollmentcurrentlyenrolled {
        margin-bottom: 25px;
        overflow:visible;
    }
    .myenrollmentgrade .mylabel {
        width: auto !important;
    }
    .myenrollmentschool .mylabel {
        width: 238px!important;
    }
    .myenrollmentschooladdress .myenrollmentaptnum .mylabel {
        margin-left: 138px;
    }
    .myenrollmentschooladdress .addphone .mylabel {
        width: 248px !important;
    }
    .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:last-child, .EnrollmentFormContainer .RadGrid_Prodigy tr td:last-child {
        display: none;
    }
    .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:nth-of-type(1), .EnrollmentFormContainer .RadGrid_Prodigy tr td:nth-of-type(1), .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:nth-of-type(2), .EnrollmentFormContainer .RadGrid_Prodigy tr td:nth-of-type(2) {
        width:20%;
    }
    .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:nth-of-type(3), .EnrollmentFormContainer .RadGrid_Prodigy tr td:nth-of-type(3){
        width:10%;
    }
    .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:nth-of-type(4), .EnrollmentFormContainer .RadGrid_Prodigy tr td:nth-of-type(4){
        width:4%;
    }
    .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:nth-of-type(5), .EnrollmentFormContainer .RadGrid_Prodigy tr td:nth-of-type(5), .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:nth-of-type(6), .EnrollmentFormContainer .RadGrid_Prodigy tr td:nth-of-type(6), .EnrollmentFormContainer .RadGrid_Prodigy tr .rgHeader:nth-of-type(7), .EnrollmentFormContainer .RadGrid_Prodigy tr td:nth-of-type(7){
        width:13%;
    }
    .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr .rgHeader:nth-of-type(1), .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr td:nth-of-type(1), .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr .rgHeader:nth-of-type(2), .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr td:nth-of-type(2){
        width:13%;
    }
    .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr .rgHeader:nth-of-type(3), .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr td:nth-of-type(3){
        width:8%;
    }
    .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr .rgHeader:nth-of-type(4), .EnrollmentFormContainer .myenrollmentphysicianGrid .RadGrid_Prodigy tr td:nth-of-type(4){
        width:20%;
    }
    .enrollmentpermissionsfields .myOtherField {
        float: none;
        margin-right: 0;
        margin-left: 390px;
        margin-top: 0;
    }
    .RAReferredByContainer .myOtherField {
        float: none;
        margin-right: 0;
        margin-left: 622px;
        margin-top: 0;
        margin-bottom:-10px;
    }
    .ua-ie .RAReferredByContainer .myOtherField {
        margin-bottom:-20px;
        margin-left:700px;
    }
    .myenrollmentpermissions .enrollmentpermissionsfields table {
        width: auto;
    }
    .myenrollmentpermissions .enrollmentpermissionsfields table td {padding-right:35px;}
    .myenrollmentpermissions .enrollmentpermissionsfields {margin-bottom:-30px;}
    .myenrollmentpermissions .enrollmentpermissionsfields table label, .enrollmentpermissionsfields .myOtherField {
        font-size:14pt !important;
    }
    .ua-firefox .EnrollmentFormContainer .myenrollmentpermissions .enrollmentpermissionsfields table label, .ua-firefox .EnrollmentFormContainer .enrollmentpermissionsfields .myOtherField {
        font-size:11pt !important;
    }
    .ua-firefox .enrollmentpermissionsfields .myOtherField {
        margin-left: 307px;
    }
    .ua-chrome .myenrollmentpermissions .enrollmentpermissionsfields table .PrintListChecked {
        top: 1px;
        margin-right: 5px;
    }
    .ua-chrome .myrecommendationFields, .ua-chrome .enrollmentRaceFields, .ua-chrome .enrollmentEthnicityFields, .ua-chrome .enrollmentGenderFields {margin-left:-25px;}
    .myenrollmentmedicalinformation {
        width: 100%;
    }
    .EnrollmentFormContainer div[class*="myenrollmentmed"] textarea {
        height: 180px !important;
        width: 80% !important;
        overflow: hidden;
        margin-right:0;

        display:none;
    }
    .EnrollmentFormContainer div[class*="myenrollmentspecialneeds"] textarea {
        width: 100% !important;
        overflow: hidden;
        height: 180px !important;

        display:none;
    }
    .EnrollmentFormContainer .PrintTextAreaValue {display:inline-block; width:80%;float:left;margin-bottom:10px;}
    .myenrollmentspecialneeds p {margin-bottom:3px;padding-top:0;}
    .myenrollmentpolicynumber span, .myenrollmentgroupnumber span {
        margin-right: 68px;
    }
    .myenrollmentparentsignature .mylabel:first-child {
        width: auto !important;
    }
    .myenrollmentparentsignature table[id*="EnrollmentParentSignatureVerification"] {
        position: relative;
        top: 5px;
        display:inline-block;
    }
    .myenrollmentparentsignature table[id*="EnrollmentParentSignatureVerification"] .PrintListChecked {
        margin-right:0px;
    }
    .ua-chrome .myenrollmentparentsignature table[id*="EnrollmentParentSignatureVerification"] .PrintListChecked {
        margin-right:-15px !important;
        float:left;
    }
    .ua-chrome .myenrollmentparentsignature table[id*="EnrollmentParentSignatureVerification"] label {
        float:left;
    }
    .ua-chrome .myenrollmentparentsignature table[id*="EnrollmentParentSignatureVerification"] td {
        width:auto !important;
        float:left;
    }
    .myenrollmentparentsignaturedate {
        margin-right: 0 !important;
        width:205px;
    }
    .ua-chrome .myenrollmentdobcontainer, .ua-ie .myenrollmentdobcontainer{
        width: auto !important;
    }
    .ua-chrome .EnrollmentFormContainer .myenrollmentdatecontainer, .ua-ie .EnrollmentFormContainer .myenrollmentdatecontainer {
        width: 250px !important;
    }
    .myenrollmentcurrentlyenrolled .mylabel {
        width:245px !important;
    }
    .ua-ie-9 .myenrollmentethnicity .PrintListChecked, .ua-ie-8 .myenrollmentethnicity .PrintListChecked {
        margin-right: 20px !important;
        float:none;
    }

    /*--------------------Lesson Plan Print Styles-----------------------*/
    
    .LessonPlanPrintBlock {
        display:block !important;
    }
    .LessonPlanInfoBlocks div[id*="RadPageView"] {
        margin-top:0px;
    }    
    .LessonPlanPrintBlock h1 {
        margin: 0px;
        padding:0;
        text-align:center;
    }
    
    .LessonPlanPrintBlock h1 img {
        border:none !important;
    }
    
    .LessonPlanPrintContainer h2, .LessonPlanPrintContainer .RadTabStripLeft_Prodigy, .LessonPlanPrintContainer .mybutton, .LessonPlanPrintContainer .addLifeSkillbutton{
        display:none !important;
    }
    
    .LessonPlanPrintBlock h2 {
        font-size: 25px;
        text-align:center;
        display:block !important;
        color: #58595B;
        font-family: Arial,Verdana,sans-serif;
        float:none;
        margin:0;
        margin-top:20px;
    }
    
    .LessonPlanPrintContainer .LessonPlanInfoBlockViews{
        margin-left:0 !important;
    }
    
    .LessonPlanPrintContainer .LessonPlanInfoBlockViews .rmpHiddenView{
        display: block !important;
    }
    
    
    .LessonPlanPrintContainer .RadEditor, .LessonPlanPrintContainer .RadEditor .reContentArea, .LessonPlanPrintContainer .TextEditor{
        display:block;
        margin-bottom:0px;
        min-height:0px !important;
    }
    
    .LessonPlanPrintContainer .PrintSectionTitle{
        display:block !important;
        float:none;
        clear:both;
        /*margin-bottom:-20px;*/
        color: #A054A0;
        font-size:16pt;
        clear:both;
        margin-bottom:10px;
    }
    
    .LessonPlanPrintContainer .LessonPlanInfoFields {
        margin-top:25px;
        margin-bottom:15px;
        border:1px solid #26C2E0 !important;
        padding:15px 0 10px 20px;
        display:block;
        min-height:220px;
        font-size:14pt;
        overflow:hidden;
        width:97%;
    }
    
    .LessonPlanPrintContainer .sectionDivider, .LessonPlanPrintContainer .row .LifeSkillsTable .DeleteCell {
        display:none;
    }
    
    .LessonPlanInfoBlocks, .LessonPlanInfoFields input, .LessonPlanInfoFields select, .LessonPlanInfoBlocks font, .LessonPlanInfoFields .myfield, .LessonPlanInfoBlocks ol, .LessonPlanInfoBlocks ul, .LessonPlanInfoBlocks p, .LessonPlanInfoBlocks span{
        font-size:14pt !important;
        color: #58595B !important;
        line-height:1.25em !important;
    }
    
    .LessonPlanInfoFields input[disabled="disabled"], .LessonPlanInfoFields .rcbInput[disabled="disabled"], html body .RadInput_Prodigy .riDisabled, html body .RadInput_Disabled_Prodigy, .LessonPlanInfoFields .rcbInput[disabled], .LessonPlanInfoFields .rcbInput[readonly="readonly"], .LessonPlanInfoFields .rcbInput[readonly]{
        background:none !important;
        color:#58595B !important;
        filter: none !important; 
        opacity: 1 !important; 
    }
    
    /*.LessonPlanPrintContainer .row span[class*="mylabel"], .CourseInfoWrapper .row input[id*="TextBoxName"], .LessonPlanInfoFields .RadComboBox {width:200px !important;}*/
    
    
    .CourseInfoWrapper .row input[id*="TextBoxName"], .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadInput_Prodigy input.riTextBox, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadInput_Prodigy input.riTextBox, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .myfield, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .myfield {border:none !important; padding-left:0 !important;}
    
    .LessonPlanPrintContainer .LessonPlanInfoFieldsLeft .row span[class*="mylabel"], .LessonPlanPrintContainer .row span[class*="mylabel"]{
        
        /*width:225px !important;*/
        font-weight:bold;
        
    }
    .LessonPlanInfoFields .mylabel {
        height:auto;
        line-height:1em;
        float:left;
        padding-right:10px;
        width:35% !important;
    }
    .LessonPlanInfoFields .myfield, .LessonPlanInfoFields .riSingle {
        margin-top:0;
        line-height:1em;
        padding:0;
        display: inline-block;
        float:left;
        width:50% !important;
    }
    .LessonPlanInfoFields .row {
        overflow:hidden;
        padding-bottom:10px;
    }
    .LessonPlanInfoFields .PrintComboValue, .LessonPlanInfoFields .PrintTextValue {
        float: left;
        width: 50%;
    }
    .ua-chrome .LessonPlanInfoFields .mylabel {
        height:auto;
        line-height:1em;
        float:left;
        padding-right:10px;
        width:40% !important;
    }
    .ua-chrome .LessonPlanInfoFields .myfield, .ua-chrome .LessonPlanInfoFields .PrintComboValue, .ua-chrome .LessonPlanInfoFields .PrintTextValue {
        width:57%;
    }
    .LessonPlanInfoFields .mylabel[id="ctl00_MainContentPlaceholder_LessonPlanInfoAge"] {height:34px;}
    
    .CourseInfoWrapper .InputWrapper .LifeSkillsTable {margin-left:204px; width: 275px;}
    
    .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorTopic"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorIntro"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorObject"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorDiscus"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorActProc"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorMatNeeded"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditrWrapUp"] {
        margin:0 !important;
        padding:0 !important;
    }
    
    .Prodigy .reContentCell, .RadEditor table, .RadEditor.reWrapper table td, .TextEditor {padding:0 !important; margin:0 !important;}
    
    .LessonPlanPrintContainer .row .LifeSkillsTable span {
        display:list-item;
    }
    
    .LessonPlanPrintContainer .LessonPlanInfoBlockViews div[id*="RadPageView"] {
        padding-bottom:0px !important;
        clear:both;
    }
    
    .LessonPlanPrintContainer .LessonPlanInfoBlockViews div[id*="RadPageView2"] {
        padding-bottom:0px !important;
    }
    
    .LessonPlanPrintContainer .LessonPlanInfoBlockViews .PrintBR {margin-top:1px;margin-bottom:1px;}
    
    /*.CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft {
        float:none !important;
        width: 97% !important;
    }
    
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight {
        float:none !important;
        width:97% !important;
        top: 10px !important;
    }*/
    
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy .rcbInput, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBoxDropDown_Prodigy, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellLeft, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellRight, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy .rcbInput, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBoxDropDown_Prodigy, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellLeft, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellRight{
        border:none !important;
        background-image:none !important;
        background-color:transparent !important;
        width:50% !important
    }
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft {
        width: 48.5% !important;
        padding-right:12px;
    }
    
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight {
        width:48.5% !important;
        padding-left:12px;
    }
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput {
        padding-left:0 !important;
        width:100% !important;
    }
    
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .InputWrapper .LifeSkillsTable {
        display: inline-block !important;
        margin-bottom: 0px;
        margin-left: 7px !important;
        margin-top: 2px;
        width: 46% !important;
    }
    
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .InputWrapper .LifeSkillsTable td {
        width: 100% !important;
    }

    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .InputWrapper div[id*="RadComboBoxLifeSkill"], .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .InputWrapper.LifeSkills .PrintComboValue, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .InputWrapper img[alt="Delete"] {
        display: none !important;
    }
    
    /*--------------------Text Editor Print Styles-----------------------*/
    
    .RadEditor .reToolCell, .RadEditor .reToolZone {
        display:none;
    }
    
    .Prodigy.reWrapper, .Prodigy.RadEditor, .TextEditor {
        border:0 !important;
        background:none !important;
        height:auto;
        min-height:0;
    }
    .ua-chrome .Prodigy.reWrapper, .ua-chrome .Prodigy.RadEditor, .ua-chrome .LessonPlanInfoBlockViews .RadEditor table iframe, .ua-chrome .RadEditor table, .ua-chrome .RadEditor.reWrapper table td, .ua-chrome .RadEditor .reContentArea, .ua-chrome .LessonPlanInfoBlockViews .RadEditor .reContentArea, .ua-chrome .RadEditor .reContentCell textarea {
        overflow:hidden;
    }
    .ua-ie .Prodigy.reWrapper, .ua-ie .Prodigy.RadEditor, .ua-ie .LessonPlanInfoBlockViews .RadEditor table iframe, .ua-ie .RadEditor table, .ua-ie .RadEditor.reWrapper table td, .ua-ie .RadEditor .reContentArea, .ua-ie .LessonPlanInfoBlockViews .RadEditor .reContentArea, .ua-ie .RadEditor .reContentCell textarea {
        overflow:hidden;
    }
    .LessonPlanInfoBlockViews .RadEditor table iframe, .RadEditor table, .RadEditor.reWrapper table td {
        min-height:0 !important;
        height:auto !important;
    }

    .RadEditor .reContentArea, .LessonPlanInfoBlockViews .RadEditor .reContentArea, .RadEditor .reContentCell textarea {
        min-height: 0 !important;
        padding:0 !important;
    }

    .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorTopic"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorIntro"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorObject"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorDiscus"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorActProc"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorMatNeeded"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditrWrapUp"] > table, .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorTopic"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorIntro"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorObject"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorDiscus"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorActProc"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditorMatNeeded"], .CourseInfoWrapper .InputWrapper div[id="ctl00_MainContentPlaceholder_RadEditrWrapUp"] {
    min-height: 0px !important;
}
    .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsRight .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .CourseInfoWrapper .LessonPlanInfoFields .LessonPlanInfoFieldsLeft .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput {
        padding: 0 !important;
    }

    .LessonPlanInfoBlockViews ol {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .TextEditor {min-width:910px !important;}
   
/*--------------------Risk Assessment Print Styles-----------------------*/
.myriskassessmentprodigylocation span.mylabel, .myriskassessmentauthor span {margin-right:0;}
.myriskassessmentauthor span {
    width: auto;
}
.RiskAssessmentFormContainer .myenrollmentshortcontainer {width:auto !important;}
    .RiskAssessmentFormContainer .PrintListChecked {
        margin-right: -15px;
        position: relative;
        top: 0px;
    }
    .RiskAssessmentSections {
        display:none !important;
    }
    
    .myriskassessmentinitialscontainer {
        margin-right: 0;
    }
    
    .myRAIDcontainer {
        float:right;
        margin-left:0;
        margin-right:0;
    }
    
    .RiskAssessmentSectionViews {
        margin-left: 0px;
    }
    
    .RiskAssessmentChartContainer .PrintSectionTitle .sectionDivider {
        margin-top: 0px;
    }
    
    .myRAclear { display:none;height:0; }
    
    .RiskAssessmentChartContainer {
        padding-top: 0;
    }
    .RiskAssessmentFormContainer .mylabel {
        width: 210px !important;
    }
    .myRAIDcontainer .mylabel {
        margin-right: 10px;
        position: relative;
        top: 0;
        width: auto !important;
    }
    .myriskassessmentinitialscontainer {
        margin-top: 30px;
    }
    .myriskassessmentinitialscontainer .mylabel {
        width: auto !important;
        position:relative;
        top:-1px;
    }
    .myriskassessmentdatecontainer {
        width: 100%;
    }
    .myRADate .mylabel {
        width: 285px !important;
    }
    .myriskassessmentdatecontainer .mylabel {
        width: 198px !important;
    }
    .RiskAssessmentFormContainer .checklabel, .RiskAssessmentFormContainer .checklabel span[id*="RiskAssessmentParentStatus"]  {margin-bottom:5px;}
    .myriskassessmentauthor {
        clear: both;
        display:block;
        margin-top:3px;
        margin-bottom:5px;
        overflow:hidden;
    }
    .RiskAssessmentFormContainer .checklabel span[id*="RiskAssessmentParentStatus"] {
        clear: both;
        display: block;
        float: none;
        margin-bottom: 5px;
        margin-right: 25px;
        width: 100% !important;
    }
    .RiskAssessmentFormContainer .checklabel span[id*="RiskAssessmentFamilyStucture"] {
        clear: both;
        display: block;
        float: none;
        margin-bottom: 5px;
        margin-right: 25px;
        width: 100% !important;
    }
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] {
        position: relative;
        left: 15px;
    }
    .RiskAssessmentFormContainer .checklabel span[id*="RiskAssessmentRefferal"] {
        clear: both;
        display: block;
        float: none;
        margin-bottom: 5px;
        margin-right: 25px;
        width: 100% !important;
    }
    .RiskAssessmentFormContainer .riskassessmentRefferalFields td {padding-bottom:0;}
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentReferral"] {
        width:auto !important;
    }
    /*.RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentReferral"] label {
        width: 85% !important;
    }*/
    input[name="ctl00$MainContentPlaceholder$RiskAssessmentReferralOtherTextBox"] {
        float: right;
        left: -160px;
        margin-left: 0;
        position: relative;
        top: -5px;
        margin-bottom:15px;
    }
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentParentStatus"] label, .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] label, .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentReferral"] label {
        font-size: 13pt !important;
        margin-right:0px;
    }
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] td {
        /*width:22% !important;*/
        display:inline-block;
        vertical-align:top;
    }
    .ua-chrome .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentParentStatus"] td {
        width:auto !important;
        display:inline-block;
        vertical-align:top;
    }
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] tr:nth-of-type(1) td:nth-child(2), .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] tr:nth-of-type(1) td:nth-child(3) {
        max-width:20%;
    }
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] tr:nth-of-type(1) td:nth-child(2) label, .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] tr:nth-of-type(1) td:nth-child(3) label {
        width:85%;
        float:right;
    }
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] td {
        /*width:22% !important;*/
        display:inline-block;
        vertical-align:top;
        float:none !important;
    }
    .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] {
        /*width:105%;*/
        margin-left:-15px;
    }
    .RiskAssessmentFormContainer .myRALabel {
        font-size: 14pt !important;
    }
    .ua-firefox .RiskAssessmentFormContainer .myRALabel, .ua-firefox .RiskAssessmentFormContainer .myRAchoices label {
        font-size: 11pt !important;
    }
    .RiskAssessmentSectionViews .row {
        overflow: hidden;
        display:block !important;
        clear:both !important;
        float:none;
    }
    .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper h3 {
        color: #26C2E0;
        font-family: 'Muli',Arial,sans-serif;
        font-size: 16pt;
        margin-bottom: 20px;
        margin-top: 0;
        border-bottom: 1px solid #26C2E0;
    }
    .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper .row {
        margin-bottom: 30px;
    }
    .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper table[id*="RadioButtonListReleaseAgency"], .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper table[id*="RadioButtonListRelReason"] {
        position: relative;
        top: -2px;
        width:85%;
    }
    .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper table[id*="RadioButtonListReleaseAgency"] label, .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper table[id*="RadioButtonListRelReason"] label {
        padding-left: 23px !important;
        top: 0;
        width: auto !important;
    }
    .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper .PrintListChecked {
        margin-right: -14px;
    }
    .RiskAssessmentFormContainer .PrintSectionTitle .myPopupWrapper span[id*="LabelEnrollStatusType"] {
        width: 220px !important;
    }
    .ua-firefox .RiskAssessmentFormContainer .FFPrinterBreak, .ua-chrome .RiskAssessmentFormContainer .FFPrinterBreak, .ua-chrome .CCPrinterBreak {page-break-before:always;}
    .ua-ie .RiskAssessmentFormContainer .IEPrinterBreak {page-break-before:always;}
    .ua-ie .ReleaseWrapper {page-break-before:avoid;}
    .myRALabel {padding-bottom:0;}
    .ua-chrome .RiskAssessmentFormContainer .PrintListChecked {
        margin-right: -20px;
        position: relative;
        top: 0px;
    }
    .RiskAssessmentFormContainer .RiskAssessmentSectionViews .myRAchoices label:nth-of-type(2n+1) {
        margin-right:20px;
    }
    .ua-ie .RiskAssessmentFormContainer .PrintListChecked {
        margin-right: -15px;
    }
    .ua-ie .RiskAssessmentFormContainer table .PrintListChecked {
        margin-right: 0px;
    }
    .ua-ie .RiskAssessmentFormContainer table[id*="CheckBoxListRiskAssessmentFamilyStucture"] label{
        display:inline !important;
    }
    .ua-chrome .RiskAssessmentFormContainer table label, .ua-firefox .RiskAssessmentFormContainer table label {
        display:inline-block !important;
    }
    .ua-chrome .RiskAssessmentFormContainer table .PrintListChecked {
        float:left;
        margin-right:-25px;
    }
    .ua-firefox .RiskAssessmentFormContainer table .PrintListChecked {
        margin-right: 0px;
        position: relative;
        top: 0px;
    }
    .ua-chrome .RiskAssessmentFormContainer .myRADate .mylabel, .ua-ie .RiskAssessmentFormContainer .myRADate .mylabel {
        width: 275px !important;
    }

    /*--------------------Telerik Print Styles-----------------------*/
    .RadPicker .rcCalPopup, .RadPicker .rcTimePopup {
        display: none;
    }
    .RadGrid_Prodigy {
        border: none !important;
    }
    .RadGrid_Prodigy .rgNoRecords td {
        display: table-cell !important;
    }
    .ua-chrome .RadPicker {
        width: 50% !important;
        display: inline-block !important;
        margin-left: 0;
    }
    .ua-ie .RadPicker {
        display: inline-block !important;
        margin-left: 0;
    }
    /*Put this in skin to override styles
    .RadGrid_Prodigy .rgHeader, .RadGrid_Prodigy .rgHeader a {
        font-size: 12pt !important;
    }*/

    /*------------------Telerik Font Overrides----------------------*/
    .RadForm.rfdTextbox input.rfdDecorated[type="text"], .RadForm.rfdTextbox input.rfdDecorated[type="password"], .RadForm.rfdTextarea textarea, .RadForm.rfdTextarea textarea.rfdDecorated[disabled]:hover, .RadForm.rfdTextbox input.rfdDecorated[disabled][type="text"]:hover, .RadForm.rfdTextbox input.rfdDecorated[disabled][type="password"]:hover, .RadForm.rfdLabel label, .RadForm .rfdDecorated, .RadForm .rfdCheckboxChecked, .RadForm .rfdInputDisabled.rfdCheckboxChecked:hover, .RadForm .rfdCheckboxUnchecked, .RadForm .rfdInputDisabled.rfdCheckboxUnchecked:hover, .RadForm .rfdAspLabel, .RadForm .rfdRadioUnchecked, .RadForm .rfdInputDisabled.rfdRadioUnchecked:hover, .RadForm .rfdRadioUnchecked:hover, .RadForm .rfdRadioChecked, .RadForm .rfdInputDisabled.rfdRadioChecked:hover, .RadForm .rfdRadioChecked:hover, .RadForm .riTextBox, .RadForm .rfdValidationSummaryControl, .RadForm .rfdLoginControl, .RadForm legend, .myfield {
        font-family: Arial,Verdana,sans-serif !important;
    }

    /*------------------Enrollment Form Radio/Checkbox Revert Overrides----------------------*/
    .ua-firefox .ParentGuardianInfoSection .ParentWorkPhone {
        width: 27%;
    }
    .ua-firefox .ParentGuardianInfoSection .ParentHomePhone {
        clear: left;
        width: 43%;
    }
    .ua-firefox .ParentGuardianInfoSection .ParentHomePhone .mylabel {
        width: 150px !important;
    }
    /*.EnrollmentFormContainer .PrintListChecked {display:none;}
    .EnrollmentFormContainer table[id*="CheckBoxList"] .rfdCheckboxChecked, .EnrollmentFormContainer table[id*="RadioButtonList"] .rfdRadioUnchecked, .EnrollmentFormContainer table[id*="CheckBoxList"] .rfdCheckboxUnchecked, .EnrollmentFormContainer table[id*="RadioButtonList"] .rfdRadioChecked, .EnrollmentFormContainer table[id*="RadioList"] .rfdRadioChecked, .EnrollmentFormContainer table[id*="RadioList"] .rfdRadioUnchecked, .EnrollmentFormContainer table[id*="RadiobuttonList"] .rfdRadioChecked, .EnrollmentFormContainer table[id*="RadiobuttonList"] .rfdRadioUnchecked, .EnrollmentFormContainer table[id*="CheckBoxTransportationList"] .rfdCheckboxUnchecked, .EnrollmentFormContainer table[id*="CheckBoxTransportationList"] .rfdCheckboxChecked, .EnrollmentFormContainer table[id*="SignatureVerification"] .rfdRadioChecked, .EnrollmentFormContainer table[id*="SignatureVerification"] .rfdRadioUnchecked, .EnrollmentFormContainer .myRAchoices .rfdRadioUnchecked, .EnrollmentFormContainer .myRAchoices .rfdRadioChecked, .EnrollmentFormContainer input[type="radio"], .EnrollmentFormContainer input[type="checkbox"] {padding:0 0 0 20px !important;background-image: url("/App_Themes/Prodigy/FormDecorator/RadioButtonSprites.png") !important;}*/
}