/*Telerik RadCalendar Office2010Black skin*/

table.RadCalendar_Prodigy
{
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

/*titlebar*/

.RadCalendar_Prodigy .rcTitlebar
{
	border-color:#72BE44;
	background:#72BE44;
	color:#fff;
	padding-top:2px;
	padding-bottom:2px;
	font-weight:bold;
}

.RadCalendar_Prodigy .rcTitlebar td
{
	padding:0 0 2px;
}

.RadCalendarPopup .myDatePickerPopup .rcTitlebar{
    padding:5px;
}

.RadCalendar_Prodigy .rcTitlebar .rcPrev,
.RadCalendar_Prodigy .rcTitlebar .rcNext,
.RadCalendar_Prodigy .rcTitlebar .rcFastPrev,
.RadCalendar_Prodigy .rcTitlebar .rcFastNext
{
	width:17px;
	height:17px;
	margin:1px 2px 0;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	color:#ccc;
}

.RadCalendar_Prodigy .rcTitlebar .rcFastPrev
{
	margin-left:4px;
	background-position:0 -200px;
}

/*.RadCalendar_Prodigy .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -250px;
}*/

.RadCalendar_Prodigy .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

/*.RadCalendar_Prodigy .rcTitlebar a.rcPrev:hover
{
	background-position:0 -350px;
}*/

.RadCalendar_Prodigy .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

/*.RadCalendar_Prodigy .rcTitlebar a.rcNext:hover
{
	background-position:0 -450px;
}*/

.RadCalendar_Prodigy .rcTitlebar .rcFastNext
{
	margin-right:4px;
	background-position:0 -500px;
}

/*.RadCalendar_Prodigy .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -550px;
}*/

.RadCalendar_Prodigy .rcMain
{
	border-color:#fff;
}

.RadCalendar_Prodigy .rcMainTable
{
	color:#72BE44;
	font:12px/20px arial,verdana,sans-serif;
}

/*header, footer*/

.RadCalendar_Prodigy .rcHeader,
.RadCalendar_Prodigy .rcFooter
{
	border-color:#688caf;
}

/*week numbers and days*/

.RadCalendar_Prodigy .rcWeek th
{
    border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	padding:2px 6px 2px 0;
	background-color:#fff;
	font-weight:bold;
}

.RadCalendarPopup .myDatePickerPopup .rcWeek th {
    text-align:center;   
    font-weight:bold;
}

.RadCalendar_Prodigy .rcWeek .rcViewSel,
.RadCalendar_Prodigy .rcRow th
{
	width:12px;
	padding:0 7px 0 9px;
	background:#6f6f6f;
}

.RadCalendar_Prodigy .rcRow th
{
	color:#bfbfbf;
}

/*date cells*/

.RadCalendarPopup .myDatePickerPopup .rcRow td
{
	border-color:#f7f7f7;
	text-align:center;
}

.RadCalendar_Prodigy .rcMain .rcRow a,
.RadCalendar_Prodigy .rcMain .rcRow span
{
	color:#3b3b3b;
}

.RadCalendar_Prodigy .rcMain .rcWeekend a
{
	color:#444;
}

.RadCalendar_Prodigy .rcRow .rcToday
{
    background: 100% -1400px url('Calendar/sprite.gif') no-repeat;
}

.RadCalendar_Prodigy .rcMain .rcOtherMonth a
{
	color:#bfbfbf;
}

.RadCalendarPopup .myDatePickerPopup .rcMain .rcRow a, .RadCalendarPopup .myDatePickerPopup .rcMain .rcRow span{
    padding: 1px 0 3px 0;
}

.RadCalendar_Prodigy .rcMain .rcOutOfRange span
{
	color:#bfbfbf;
}

.RadCalendar_Prodigy .rcRow .rcSelected, .RadCalendar_Prodigy .rcRow .rcSelected:hover
{
	background:#72BE44;
	color:#fff;
	font-weight:bold;
}

.RadCalendar_Prodigy .rcRow .rcHover
{
	background:#eee;
}

.RadCalendar_Prodigy .rcRow .rcHover,
.RadCalendar_Prodigy .rcRow .rcHover a{
    color:#000;
}

.RadCalendar_Prodigy .rcRow .rcSelected,
.RadCalendar_Prodigy .rcRow .rcSelected a
{
	color:#fff;	
}

/*multimonth view*/

.RadCalendarMultiView_Prodigy .rcTitlebar
{
	background:#525252 0 -2200px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_Prodigy .rcTitlebar table
{
	line-height:27px;
}

.RadCalendarMultiView_Prodigy .rcTitlebar td
{
	padding-bottom:1px;
}

.RadCalendarMultiView_Prodigy .rcCalendar
{
	border-color:#4b4b4b;
	border-top:0;
}

.RadCalendarMultiView_Prodigy .rcCalendar .rcMainTable
{
	height:195px;
}

.RadCalendarMultiView_Prodigy .rcMainTable .rcTitle
{
	border-width:1px 0;
	border-color:#6c6c6a;
	padding:0 0 2px;
	background:#737373 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#e2e2e2;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Prodigy
{
	border-color:#fff;
	background:#fff;
	font:12px arial,verdana,sans-serif;
	color:#000;
}

.RadCalendarMonthView_Prodigy #rcMView_Feb,
.RadCalendarMonthView_Prodigy #rcMView_Apr,
.RadCalendarMonthView_Prodigy #rcMView_Jun,
.RadCalendarMonthView_Prodigy #rcMView_Aug,
.RadCalendarMonthView_Prodigy #rcMView_Oct,
.RadCalendarMonthView_Prodigy #rcMView_Dec
{
	border-right:1px solid #eee;
}

.RadCalendarMonthView_Prodigy a
{
	color:#000;
}

.RadCalendarMonthView_Prodigy .rcSelected a, .RadCalendarMonthView_Prodigy a:hover
{
	border-color:#72BE44;
	background:#72BE44;
	font-weight:bold;
	color:#fff;
}

.RadCalendarMonthView_Prodigy #rcMView_PrevY a,
.RadCalendarMonthView_Prodigy #rcMView_NextY a
{
	width:15px;
	height:13px;
	overflow:hidden;
	background-image:url('Calendar/sprite.gif');
	color:#ccc;
}

.RadCalendarMonthView_Prodigy #rcMView_PrevY a
{
	background-position:3px -200px;
}

.RadCalendarMonthView_Prodigy #rcMView_NextY a
{
	background-position:4px -500px;
}

.RadCalendarMonthView_Prodigy .rcButtons
{
	padding:5px 7px 3px;
}

.RadCalendarMonthView_Prodigy input
{
	border-color:#F0047F;
	background-color:#F0047F;
	padding:1px 5px;
	color:#fff;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
	font:12px arial,sans-serif;
	behavior: url(/Templates/Scripts/PIE.htc);
}

.RadCalendarPopup .myDatePickerPopup #rcMView_Today 
{
    margin:0;   
}

.RadCalendarMonthView_Prodigy .rcTodayButton 
{
    margin:0;
    padding-left:5px;
    padding-right:5px; 
    left: 42px;
    position: absolute;  
    bottom:11px;
}

@-moz-document url-prefix() {
    
.RadCalendarMonthView_Prodigy .rcTodayButton 
    {
    margin:0;
    padding-left:3px;
    padding-right:3px; 
    left: 42px;
    position: absolute;  
    bottom:9px;
    }
    
    .RadCalendarMonthView_Prodigy .rcOkButton 
{
    padding-left:3px;
    padding-right:3px;
    float: left;
    left: -3px;
    position: relative;
}
    
    .RadCalendarMonthView_Prodigy .rcCancelButton 
{
    padding-left:3px;
    padding-right:3px;
    float: right;
    left: 4px;
    position: relative;
}

}

.RadCalendarMonthView_Prodigy .rcOkButton 
{
    padding-left:5px;
    padding-right:5px;
    float: left;
    left: -3px;
    position: relative;
}

.RadCalendarMonthView_Prodigy .rcCancelButton 
{
    padding-left:5px;
    padding-right:5px;
    float: right;
    left: 4px;
    position: relative;
}


/*IE7 performance issue*/
/*.RadCalendarMonthView_Prodigy input:hover
{
	border-color:#d8ca95 #b89f73 #c6b99c;
	background-color:#ffe18a;
	background-position:0 -2350px;
	color:#000;
}*/

/*time view*/

table.RadCalendarTimeView_Prodigy
{
	border-color:#fff;
	background:#fff;
	font:12px arial,verdana,sans-serif;
}

.RadCalendarTimeView_Prodigy th
{
	padding:0 0 1px;
	background:#72BE44;
	color:#fff;
	line-height:23px;
	border-color: #72BE44;
	font-weight:bold !important;
}

table.RadCalendarTimeView_Prodigy td
{
	border-color:#EEEEEE;
}

.RadCalendarTimeView_Prodigy a
{
	color:#000;
}

.RadCalendarTimeView_Prodigy td.rcSelected a
{
	border-color:#72BE44;
	background:#72BE44;
	color:#fff;
	font-weight:bold;
}

.RadCalendarTimeView_Prodigy td.rcHover a
{
	border-color:#72BE44;
	background:#72BE44;
	color:#fff;
	font-weight:bold;
}

.RadCalendarTimeView_Prodigy .rcFooter
{
	border-color:#688caf;
}

/*pickers*/

.RadPicker_Prodigy .rcCalPopup,
.RadPicker_Prodigy .rcTimePopup
{
	background-image:url('Calendar/sprite.gif');
	margin-left: 8px;
	margin-top:-4px;
}

.RadPicker_Prodigy .rcCalPopup,
.RadPicker_Prodigy a.rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Prodigy a.rcCalPopup:hover,
.RadPicker_Prodigy a.rcCalPopup:focus,
.RadPicker_Prodigy a.rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Prodigy .rcTimePopup,
.RadPicker_Prodigy a.rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Prodigy a.rcTimePopup:hover,
.RadPicker_Prodigy a.rcTimePopup:focus,
.RadPicker_Prodigy a.rcTimePopup:active
{
	background-position:0 -150px;
}

/*rtl*/

.RadCalendarRTL_Prodigy .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Prodigy .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Prodigy .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Prodigy .rcTitlebar a.rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Prodigy .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Prodigy .rcTitlebar a.rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Prodigy .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Prodigy .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -250px;
}