/*Telerik RadFilter Office2010 skin*/

/*sprite*/

.RadFilter_Prodigy .rfLeft,
.RadFilter_Prodigy .rfMid,
.RadFilter_Prodigy .rfTools,
.RadFilter_Prodigy .rfRight,
.RadFilter_Prodigy .rfOper:hover,
.RadFilter_Prodigy .rfField:hover,
.RadFilter_Prodigy .rfExp:hover,
.RadFilter_Prodigy .rfOper:focus,
.RadFilter_Prodigy .rfField:focus,
.RadFilter_Prodigy .rfExp:focus,
.RadFilter_Prodigy .rfOper:active,
.RadFilter_Prodigy .rfField:active,
.RadFilter_Prodigy .rfExp:active,
.RadFilter_Prodigy .rfAddGr,
.RadFilter_Prodigy .rfAddExp,
.RadFilter_Prodigy .rfDel,
.RadFilter_Prodigy .rfApply a,
.RadFilter_Prodigy .rfApply input
{
	background-image:url('Filter/sprite.gif');
}

/*global*/

.RadFilter_Prodigy,
.RadFilter_Prodigy .rfText,
.RadFilter_Prodigy .rfApply input
{
	font-size:12px;
	font-family:"segoe ui",arial,sans-serif;
}

.RadFilter_Prodigy,
.RadFilter_Prodigy a,
.RadFilter_Prodigy .rfText
{
	color:#000;
}

/*lines*/

.RadFilter_Prodigy .rfLines li li
{
	background-image:url('Filter/rfLine.gif');
}

.RadFilter_Prodigy .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle.gif');
}

.RadFilter_Prodigy .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast.gif');
}

/*item elements*/

.RadFilter_Prodigy .rfLeft
{
	background-position:0 0;
}

.RadFilter_Prodigy .rfRight
{
	background-position:100% 0;
}

.RadFilter_Prodigy .rfMid,
.RadFilter_Prodigy .rfTools
{
	background-position:0 -100px;
}

.RadFilter_Prodigy .rfField
{
	color:#000;
}

.RadFilter_Prodigy .rfOper:hover,
.RadFilter_Prodigy .rfField:hover,
.RadFilter_Prodigy .rfExp:hover,
.RadFilter_Prodigy .rfOper:focus,
.RadFilter_Prodigy .rfField:focus,
.RadFilter_Prodigy .rfExp:focus,
.RadFilter_Prodigy .rfOper:active,
.RadFilter_Prodigy .rfField:active,
.RadFilter_Prodigy .rfExp:active
{
	background-position:100% -76px;
	color:#000;
}

.RadFilter_Prodigy .rfExp
{
    color:#333;    
}

.RadFilter_Prodigy .rfText
{
	border-color:#919191;
	background-color:#fff;
}

.RadFilter_Prodigy .rfAddExp
{
	background-position:-300px 0;
}
.RadFilter_Prodigy .rfAddExp:hover
{
	background-position:-350px 0;
}

.RadFilter_Prodigy .rfAddGr
{
	background-position:-400px 0;
}
.RadFilter_Prodigy .rfAddGr:hover
{
	background-position:-450px 0;
}

.RadFilter_Prodigy .rfDel
{
	background-position:-150px 0;
}
.RadFilter_Prodigy .rfDel:hover
{
	background-position:-200px 0;
}

/*preview*/

.RadFilter_Prodigy .rfPreview strong
{
	color:#000;
}

.RadFilter_Prodigy .rfPreview .rfBr
{
	color:#000;
}

.RadFilter_Prodigy .rfPreview em
{
    color:#c6c6c6;
}
/*apply*/

.RadFilter_Prodigy .rfApply a
{
	background-position:100% -28px;
	height: 22px;
}
.RadFilter_Prodigy .rfApply input
{
	background-position:0 -50px;
	height: 22px;
}
.RadFilter_Prodigy .rfApply input
{
	color:#010101;
}

/*rtl*/

.RadFilterRTL_Prodigy .rfLines li li
{
	background-image:url('Filter/rfLine-rtl.gif');
}

.RadFilterRTL_Prodigy .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle-rtl.gif');
}

.RadFilterRTL_Prodigy .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast-rtl.gif');
}

.RadFilterRTL_Prodigy .rfLeft
{
	background-position:100% 0;
}

.RadFilterRTL_Prodigy .rfRight
{
	background-position:0 0;
}

.RadFilterRTL_Prodigy .rfOper:hover,
.RadFilterRTL_Prodigy .rfField:hover,
.RadFilterRTL_Prodigy .rfExp:hover,
.RadFilterRTL_Prodigy .rfOper:focus,
.RadFilterRTL_Prodigy .rfField:focus,
.RadFilterRTL_Prodigy .rfExp:focus,
.RadFilterRTL_Prodigy .rfOper:active,
.RadFilterRTL_Prodigy .rfField:active,
.RadFilterRTL_Prodigy .rfExp:active
{
	background-position:-586px -76px;
}