.PersonWrapper, .TransferYouthWrapper, .ReleaseWrapper, .PossibleMatchesWrapper, .DownloadWrapper{
    padding: 20px !important;
}

.TransferYouthWrapper div h3, .ReleaseWrapper h3, .BasicPopUpWrapper h3, .PossibleMatchesInlineWrapper h3, .PossibleMatchesWrapper h3, .DownloadWrapper h3  {
    color: #A054A0;
    margin-bottom: 15px;
    margin-top: 0;
}

.PopUpHeader {
    color: #26C2E0;
    float: left;
    font-family: 'Muli',Arial,sans-serif;
    font-size: 1.4em;
    margin-right: 20px;
    margin-top: 0;
}


/*--------------------Add New Person Popup Field Styles------------------*/

.PersonWrapper .AddNewPersonPopupUp span[id="AddPerson1_EnrollmentParent1Email"] {
    margin-right:32px;
}

.PersonWrapper .AddNewPersonPopupUp .mybutton {
    width:95px;
}

/*--------------------Transfer Youth Popup Field Styles------------------*/

.TransferYouthWrapper p {
    margin-bottom:25px;
}

.TransferYouthWrapper .mydropdown {
    margin-bottom:10px;
}

.TransferYouthWrapper .mybutton {
    float:none;
}

/*--------------------Download/Certificate Popup Field Styles------------------*/

.DownloadWrapper a {
    display: block;
    line-height: 2.25em;
    text-decoration: none;
    width: 140px;
}

.DownloadWrapper p {
    margin-bottom:25px;
}

.DownloadWrapper a:hover {
    color:#fff;
}

/*--------------------Release Popup Field Styles------------------*/

.ReleaseWrapper .editButtons {
    margin-right:-10px !important;
    margin-top:-5px;
}

.ReleaseWrapper .editButtons .mybutton {
    float:left !important;
    clear:left;
}

.ReleaseWrapper .mylabel {
    width:120px;
    float:left;
}

.ReleaseWrapper .ReleaseList {
    margin-bottom:10px;
    position:relative;
    top:-2px;
    left:-8px;
}

.ReleaseWrapper .ReleaseList input {
    position:relative;
    top:-3px;
    margin-right:8px;
    float:left;
}

.ReleaseWrapper .myenrollmentdobcontainer .myenrollmentdob {
    margin-left:0;
}

/*--------------------Release Popup Field Styles------------------*/

.CommunitiesPopUpWrapper .mylabel, .CircuitsPopupWrapper .mylabel, .CountiesPopupWrapper .mylabel {
    width:120px;
}

.CommunitiesPopUpWrapper .row input[id*="TextboxName"], .CircuitsPopupWrapper .row input[id*="Textbox"], .CountiesPopupWrapper .row input[id*="Textbox"] {
    width: 152px;
}

.CommunitiesPopUpWrapper .row div[id="RadEditorDesc"]  {
    margin-left: 123px;
}

.CommunitiesPopUpWrapper .row span[id*="Desc"] {
    float: left;
}

.CommunitiesPopUpWrapper .InputWrapper .addCountybutton {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.1em;
    height: 24px;
    left: 2px;
    line-height: 2em;
    margin-right: -10px;
    margin-top: -2px;
    position: relative;
    text-decoration: none;
    top: -2px;
    width: 100px;
}

.CommunitiesPopUpWrapper .InputWrapper .CountryComboBoxContainer {
    display:inline-block !important;
}

.CommunitiesPopUpWrapper .InputWrapper .CommunityCountyTable {
    margin-bottom: 20px;
    margin-left: 123px;
}

.CommunitiesPopUpWrapper .InputWrapper .CommunityCountyTable td {
    width:80px;
    padding-bottom:5px;
}

.myPopupWrapper .myCommunityEditButtons .mybutton {
    margin-right:10px;
}

/*--------------------Manage Attendances Styles------------------*/

.AttendancePopUpContainer {
    width:900px;
}

.AttendancePopUpContainer h3.GridHead  {
    color: #A054A0;
    margin-bottom: 15px;
    margin-top: 0;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo {
    padding:20px;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .AdminHeader{
    color: #26C2E0;
    font-family: 'Muli',Arial,sans-serif;
    font-size: 1.4em;
    margin-right: 20px;
    margin-top: 0;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .sectionHead{
    float:none;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .mylabel{
    width:113px;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo textarea{
    overflow:auto;
    resize:none;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .mybutton{
    float:none;
    margin-bottom: 5px;
    margin-top: 15px;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .YouthContainer, .AttendancePopUpContainer .CourseOverview .AttendanceInfo .PersonContainer{
    float:left;
    width:275px;
    position:relative;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .YouthContainer .mylabel, .AttendancePopUpContainer .CourseOverview .AttendanceInfo .YouthContainer .mydropdown, .AttendancePopUpContainer .CourseOverview .AttendanceInfo .PersonContainer .mylabel, .AttendancePopUpContainer .CourseOverview .AttendanceInfo .PersonContainer .mydropdown{
    float:left;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .row{
    margin-bottom:inherit;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .addNewPersonContainer{
    margin-top:60px;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .AssociateWithPerson{
    width: 465px;
    padding-top:25px;
    
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .addAttendeebutton{
    display: inline-block;
    float: right;
    font-size: 14px;
    height: 25px;
    position: absolute;
    right: -140px;
    top: -21px;
    width: auto;
} 

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .addNewPersonContainer .myfield{
    margin-right: -5px;
    width: 153px;
}

.AttendancePopUpContainer .CourseOverview .AttendanceInfo .myenrollmentdob{
    margin-left:0;
    margin-bottom: 17px;
}

p.AttendanceLock {
    color: #F9A51A;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom:10px;
    margin-top:0;
    display:inline-block;
}

span.AttendanceLockUnderline {
    text-decoration:underline;
    margin-right:5px;
}

/*--------------------Possible Matches - Inline Styles------------------*/

.PossibleMatchesInlineWrapper {
    position:absolute;
    top:0;
    padding-right:10px;
    background:#fff;
    height:100%;
}

.PossibleMatchesTable {
    margin-top:15px;
    margin-bottom:10px;
}

.PossibleMatchesTable tr.LastRow {
    border-bottom: 1px solid #D0D7E5;
}

.PossibleMatchesTable td {padding-top:10px; padding-bottom:0px; padding-left:10px;display:inline-block;}

.PossibleMatchesTable tr.LastRow td {
    padding-top:0;
   /*display: inline-block;*/
   padding-bottom:15px;
}

.PossibleMatchesTable span {
    width:50px;
    display:block;
    padding-left:10px;
}

.PossibleMatchesTable .DOBLabel {
    width:80px;
    padding-left:30px;
}

.PossibleMatchesTable .DOBLabel span{
    width:80px;
    /*padding-right:10px;*/
}

.PossibleMatchesTable .DJJNumLabel {
    padding-left:30px;
    width:45px;
}

.PossibleMatchesTable .DJJNumLabel span{
    position:relative;
    /*top:-8px;*/
    width:45px;
    /*left:-28px;*/
}

.PossibleMatchesTable .GenderLabel {
    /*padding-left:30px;*/
    width:55px;
}

.PossibleMatchesTable .GenderLabel span{
    width:55px;
}

.PossibleMatchesTable .AgeLabel {
    width:140px;
    margin-left:54px;
}

.PossibleMatchesTable .AgeLabel span {
    width:140px;
}

.PossibleMatchesTable .Name, .PossibleMatchesTable .DOB, .PossibleMatchesTable .DJJNum, .PossibleMatchesTable .Gender {padding-left:0;}

.PossibleMatchesTable .mySelectButton {
    display:block;
    line-height:1.75em;
    height:auto;
    text-decoration:none;
    font-size: 1em;
    width:50px;
    padding-bottom:0;
    padding-top:2px;
    position:relative;
    top:-5px;
}

.PossibleMatchesTable .mySelectButton:hover {
    color:#fff;
}

.PossibleMatchesTable .SelectNone {width:100px;position:relative;left:3px;}

/*--------------------Possible Matches - Dialog Styles------------------*/

.PossibleMatchesWrapper .PossibleMatchesTable {
    
}

/*.PossibleMatchesWrapper .PossibleMatchesTable tr {
    border-bottom: 1px solid #D0D7E5;
}*/

.PossibleMatchesWrapper .PossibleMatchesTable td {
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 7px;
    display:table-cell;
}

.PossibleMatchesWrapper .PossibleMatchesTable .Name {
    display:block;
    width:auto !important;
    min-width:70px;
    position:relative;
    top:9px;
    margin-left:-50px;
}

.PossibleMatchesWrapper .PossibleMatchesTable .DOBLabel {
    /*padding-left: 30px;*/
    width: 80px;
}

.PossibleMatchesWrapper .PossibleMatchesTable .Name, .PossibleMatchesWrapper .PossibleMatchesTable .DOB, .PossibleMatchesWrapper .PossibleMatchesTable .DJJNum, .PossibleMatchesWrapper .PossibleMatchesTable .Gender {
    padding-left: 0;
}