/*Telerik RadListView Office2010Black Skin*/

/*global*/

.RadListView_Prodigy
{
	border:1px solid #688caf;
	background:#fff;
	color:#333;
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadListView_Prodigy .rlvA
{
	/*background:#ecf4ff;*/
}

.RadListView_Prodigy .rlvISel
{
	background:#ffcb60;
}

.RadListView_Prodigy .rlvIEdit
{
	background:#ffe5ad;
}

/*buttons*/

.RadListView_Prodigy .rlvBAdd,
.RadListView_Prodigy .rlvBUpdate,
.RadListView_Prodigy .rlvBCancel,
.RadListView_Prodigy .rlvBDel,
.RadListView_Prodigy .rlvBEdit
{
	background-image:url('Grid/sprite.png');
}

* html .RadListView_Prodigy .rlvBAdd,
* html .RadListView_Prodigy .rlvBUpdate,
* html .RadListView_Prodigy .rlvBCancel,
* html .RadListView_Prodigy .rlvBDel,
* html .RadListView_Prodigy .rlvBEdit
{
	background-image:url('Grid/sprite.gif');
}

.RadListView_Prodigy .rlvBAdd
{
	background-position:0 -1648px;
	width:22px;
	height:22px;
}
.RadListView_Prodigy .rlvBUpdate
{
	background-position:0 -1798px;
	width:23px;
	height:22px;
}
.RadListView_Prodigy .rlvBCancel
{
	background-position:0 -1848px;
	width:23px;
	height:22px;
}
.RadListView_Prodigy .rlvBSel
{
	background-image:url('FormDecorator/CheckBoxSprites.gif');
	background-position:-2px -2px;
}
.RadListView_Prodigy .rlvISel .rlvBSel
{
	background-position:-2px -422px;
}
.RadListView_Prodigy .rlvBDel
{
	background-position:0 -1750px;
}
.RadListView_Prodigy .rlvBEdit
{
	background-position:0 -1700px;
}

.RadListView_Prodigy .rlvDrag
{
	background-image:url('ListView/drag.gif');
	background-position:center center;
}

/*flow*/

.RadListView_Prodigy div.rlvI,
.RadListView_Prodigy div.rlvA,
.RadListView_Prodigy div.rlvIEmpty,
.RadListView_Prodigy div.rlvIEdit
{
	border-color:#d0d7e5;
}

.RadListView_Prodigy div.rlvISel
{
	border-color:#ff9b35;
}

/*grid*/

.RadListView_Prodigy tr.rlvHeader th
{
	border:solid #d0d7e5;
	border-width:0 0 1px 1px;
	background:0 -2300px repeat-x #c3d8f1 url('Grid/sprite.png');
	color:#000;
}

.RadListView_Prodigy tr.rlvI td,
.RadListView_Prodigy tr.rlvA td,
.RadListView_Prodigy tr.rlvISel td,
.RadListView_Prodigy tr.rlvIEmpty td,
.RadListView_Prodigy tr.rlvIEdit td
{
	border:1px solid;
	border-top:0;
	border-right:0;
}

.RadListView_Prodigy tr.rlvI td,
.RadListView_Prodigy tr.rlvA td,
.RadListView_Prodigy tr.rlvIEmpty td,
.RadListView_Prodigy tr.rlvIEdit td
{
	border-color:#d0d7e5;
}

.RadListView_Prodigy tr.rlvISel td
{
	border-color:#ff9b35;
}

/*single row*/

.RadListView_Prodigy td.rlvI,
.RadListView_Prodigy td.rlvA,
.RadListView_Prodigy td.rlvISel,
.RadListView_Prodigy td.rlvIEmpty,
.RadListView_Prodigy td.rlvIEdit
{
	border:0;
	border-right:1px solid #d0d7e5;
}

.RadListView_Prodigy td.rlvISel
{
	border-color:#ff9b35;
}

/*floated*/

.RadListView_Prodigy .rlvFloated .rlvI,
.RadListView_Prodigy .rlvFloated .rlvA,
.RadListView_Prodigy .rlvFloated .rlvISel,
.RadListView_Prodigy .rlvFloated .rlvIEdit
{
	border-color:#688caf;
}

/*edit*/

.RadListView_Prodigy .rlvInput
{
	border-color:#abc1de;
	background:#fff;
	color:#000;
}