/* RadButton Office2010Black Skin */

.RadButton_Prodigy.rbSkinnedButton,
.RadButton_Prodigy .rbDecorated,
.RadButton_Prodigy.rbVerticalButton,
.RadButton_Prodigy.rbVerticalButton .rbDecorated,
.RadButton_Prodigy .rbSplitRight,
.RadButton_Prodigy .rbSplitLeft
{
	background-image: url('Button/ButtonSprites.gif');
}

.RadButton_Prodigy .rbToggleCheckbox,
.RadButton_Prodigy .rbToggleCheckboxChecked,
.RadButton_Prodigy .rbToggleCheckboxFilled,
.RadButton_Prodigy .rbToggleRadio,
.RadButton_Prodigy .rbToggleRadioChecked
{
	background-image: url('Button/ToggleSprite.gif');

}

.RadButton_Prodigy.rbToggleButton,
.RadButton_Prodigy.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

a.RadButton_Prodigy.rbLinkButton
{
	border: 1px solid #262626;
	color: #000;
	text-decoration: none;
	background-color: #c4c4c4;
}

.RadButton_Prodigy.rbLinkButton:hover
{
	background-color: #ffe587;
	border: 1px solid #f7c840;
}

.RadButton_Prodigy.rbLinkButton:active
{
	background-color: #f8cf4a;
	border: 1px solid #c29941;
}

.RadButton_Prodigy.rbLinkButtonChecked,
.RadButton_Prodigy.rbLinkButtonChecked:hover
{
	background-color: #ffe587;
	color: #000;
	border: 1px solid #262626;
}

.RadButton_Prodigy.rbLinkButton.rbDisabled,
.RadButton_Prodigy.rbLinkButton.rbDisabled:hover
{
	background-color: #f9f8f8;
	border: 1px solid #d0d0d0;
	color: #6a6a6a;
}

.RadButton_Prodigy.rbLinkButton:hover .rbSplitLeft,
.RadButton_Prodigy.rbLinkButton:hover .rbSplitRight
{
	background-color: #c4c4c4;
}

.RadButton_Prodigy.rbLinkButton .rbSplitRight
{
	border-left: 1px solid #262626;
}

.RadButton_Prodigy.rbLinkButton .rbSplitRight:hover
{
	background-color: #e9b809;
	border-left: 1px solid #dcae08;
}

.RadButton_Prodigy.rbLinkButton .rbSplitRight:active,
.RadButton_Prodigy.rbLinkButton .rbSplitRight:focus
{
	background-color: #f8cf4a;
	border-left: 1px solid #c29941;
}

.RadButton_Prodigy.rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #262626;
}

.RadButton_Prodigy.rbLinkButton .rbSplitLeft:hover
{
	background-color: #e9b809;
	border-right: 1px solid #dcae08;
}

.RadButton_Prodigy.rbLinkButton .rbSplitLeft:active,
.RadButton_Prodigy.rbLinkButton .rbSplitLeft:focus
{
	background-color: #f8cf4a;
	border-right: 1px solid #c29941;
}

.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #D0D0D0;
}

.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_Prodigy.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	border-left: 1px solid #D0D0D0;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_Prodigy.rbLinkButton
{
	border: 1px solid #262626 !important;
}

*html .RadButton_Prodigy.rbLinkButton:hover
{
	border: 1px solid #f7c840 !important;
}

