/* RadComboBox Office2010Black skin */

/*global*/

.sidebar .RadComboBox_Prodigy,
.sidebar .RadComboBoxDropDown_Prodigy, .maincontent .RadComboBox_Prodigy,
.maincontent .RadComboBoxDropDown_Prodigy, .myPopupWrapper .RadComboBox_Prodigy
{
	width:141px;
	border:1px solid #D0D2D3;
	margin-top:-4px;
	height:20px;	
}

/* combobox */

/*.RadComboBox_Prodigy .rcbInputCellLeft,
.RadComboBox_Prodigy .rcbInputCellRight,*/
.sidebar .RadComboBox_Prodigy .rcbArrowCellLeft,
.sidebar .RadComboBox_Prodigy .rcbArrowCellRight, .maincontent .RadComboBox_Prodigy .rcbArrowCellLeft,
.maincontent .RadComboBox_Prodigy .rcbArrowCellRight, .myPopupWrapper .RadComboBox_Prodigy .rcbArrowCellRight, .myPopupWrapper .RadComboBox_Prodigy .rcbArrowCellLeft
{
	background-image: url('ComboBox/dropdownarrow.png');
	background-color: #e8e8e8;
}

.sidebar .RadComboBox table td.rcbInputCell, .sidebar .RadComboBox .rcbInputCell .rcbInput, .maincontent .RadComboBox table td.rcbInputCell, .maincontent .RadComboBox .rcbInputCell .rcbInput, .myPopupWrapper .RadComboBox_Prodigy .rcbInputCell .rcbInput, .myPopupWrapper .RadComboBox table td.rcbInputCell{
    padding-left:5px;
    color:#58595B;
    font-size:12px;
}

/*.RadComboBox_Prodigy td.rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_Prodigy td.rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_Prodigy .rcbHovered .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_Prodigy .rcbHovered .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_Prodigy .rcbFocused .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_Prodigy .rcbFocused .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_Prodigy .rcbHovered .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -22px; }
.RadComboBox_Prodigy .rcbHovered .rcbReadOnly td.rcbInputCellRight { background-position: 100% -22px; }

.RadComboBox_Prodigy .rcbFocused .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -44px; }
.RadComboBox_Prodigy .rcbFocused .rcbReadOnly td.rcbInputCellRight { background-position: 100% -44px; }*/

.RadComboBox_Prodigy .rcbInputCell .rcbEmptyMessage
{
	color: #666;
	font-style: normal !important;
}

/*.RadComboBox_Prodigy .rcbHovered .rcbInputCell .rcbInput
{
	color: #000000;
}*/

/*.RadComboBox_Prodigy td.rcbArrowCellLeft { background-position: -18px -88px; }*/

.sidebar .RadComboBox .rcbReadOnly td.rcbArrowCell a, .maincontent .RadComboBox .rcbReadOnly td.rcbArrowCell a, .myPopupWrapper .RadComboBox .rcbReadOnly td.rcbArrowCell a{
    height:20px;
}
.RadComboBox_Prodigy td.rcbArrowCellRight { background-position: -1px center; }

/*.RadComboBox_Prodigy .rcbHovered .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_Prodigy .rcbHovered .rcbArrowCellRight { background-position: -36px -88px; }

.RadComboBox_Prodigy .rcbFocused .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_Prodigy .rcbFocused .rcbArrowCellRight { background-position: -72px -88px; }

.RadComboBox_Prodigy td.rcbArrowCellHidden,
.RadComboBox_Prodigy .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_Prodigy .rcbFocused td.rcbArrowCellHidden { background-position: -15px -88px; }

.RadComboBox_Prodigy_rtl td.rcbArrowCellHidden,
.RadComboBox_Prodigy_rtl .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_Prodigy_rtl .rcbFocused td.rcbArrowCellHidden { background-position: -18px -88px; }*/

/* Read-only styles */

.widecontent .RadComboBox_Prodigy,
.widecontent .RadComboBoxDropDown_Prodigy, .PersonWrapper .RadComboBox_Prodigy,
.myPopupWrapper .RadComboBoxDropDown_Prodigy
{
	width:141px;
	border:1px solid #D0D2D3;
	margin-top:-4px;
	height:22px;	
}

.widecontent .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellLeft, .widecontent .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellRight, .myPopupWrapper .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellLeft, .myPopupWrapper .RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellRight { background-image: url('ComboBox/dropdownarrow.png');
	background-color: #e8e8e8; }
	.widecontent .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .widecontent .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput, .myPopupWrapper .RadComboBox_Prodigy .rcbReadOnly td.rcbInputCell, .myPopupWrapper .RadComboBox_Prodigy .rcbReadOnly .rcbInputCell .rcbInput { padding-left:5px;
    color:#58595B;
    font-size:12px; }

/*.RadComboBox_Prodigy .rcbHovered .rcbReadOnly .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_Prodigy .rcbHovered .rcbReadOnly .rcbArrowCellRight { background-position: -38px -88px; }

.RadComboBox_Prodigy .rcbFocused .rcbReadOnly .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_Prodigy .rcbFocused .rcbReadOnly .rcbArrowCellRight { background-position: -74px -88px; }

.RadComboBox_Prodigy .rcbReadOnly td.rcbArrowCellHidden { background-position: -15px -88px; }
.RadComboBox_Prodigy .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox_Prodigy .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

.RadComboBox_Prodigy_rtl .rcbReadOnly td.rcbArrowCellHidden { background-position: -18px -88px; }
.RadComboBox_Prodigy_rtl .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -54px -88px; }
.RadComboBox_Prodigy_rtl .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -90px -88px; }*/

/* dropdown */

.RadComboBoxDropDown_Prodigy .rcbHeader,
.RadComboBoxDropDown_Prodigy .rcbFooter,
.RadComboBoxDropDown_Prodigy .rcbMoreResults,
.RadComboBoxDropDown_Prodigy .rcbMoreResults a
{
	background-image: url('ComboBox/rcbSprite.png');
	_background-image: url('ComboBox/rcbSpriteIE6.png');
}

.RadComboBoxDropDown_Prodigy
{
	background: #fff;
	border-color: #c6c7d2;
	border-top-color: #83868d;
}

.RadComboBoxDropDown_Prodigy .rcbHeader,
.RadComboBoxDropDown_Prodigy .rcbFooter
{
	background-color: #f1f2f4;
	background-position: 0 -110px;
}

.RadComboBoxDropDown_Prodigy .rcbHeader
{
	border-bottom-color: #d5d5d5;
}

.RadComboBoxDropDown_Prodigy .rcbFooter
{
	border-top-color: #d5d5d5;
}

.RadComboBoxDropDown_Prodigy .rcbItem em
{
	background: #e5e5e5;
}

.RadComboBoxDropDown_Prodigy .rcbHovered
{
/*	background: #E8E8E8;*/
    background: #F0047F;
    color: #fff;
}

.RadComboBoxDropDown_Prodigy .rcbCheckAllItems,
.RadComboBoxDropDown_Prodigy .rcbCheckAllItemsHovered {
	color: #000000;
	background-color: #ffe7a2;
}
.RadComboBoxDropDown_Prodigy .rcbCheckAllItemsHovered {
	color: #000000;
}

.RadComboBoxDropDown_Prodigy .rcbSeparator
{
    color: #fff;
    background: #8a8a8a;
}

.RadComboBox_Prodigy .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown_Prodigy .rcbDisabled
{
	color: #656565;
}

.RadComboBox_Prodigy .rcbDisabled td.rcbInputCellLeft { background-position: 0 -66px; }
.RadComboBox_Prodigy .rcbDisabled td.rcbInputCellRight { background-position: 100% -66px; }
.RadComboBox_Prodigy .rcbDisabled td.rcbArrowCellLeft { background-position: -126px -88px; }
.RadComboBox_Prodigy .rcbDisabled td.rcbArrowCellRight { background-position: -108px -88px; }
.RadComboBox_Prodigy .rcbDisabled .rcbReadOnly td.rcbArrowCellRight { background-position: -110px -88px; }
.RadComboBox_Prodigy table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_Prodigy .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -123px -88px; }
.RadComboBox_Prodigy_rtl table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_Prodigy_rtl .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -126px -88px; }

.RadComboBoxDropDown_Prodigy .rcbLoading
{
	background: #f0f0f0;
}

.RadComboBoxDropDown_Prodigy .rcbMoreResults
{
	border-top-color: #c6c7d2;
	background-position: 0 -132px;
	background-color: #e6e6e6;
	color: #8a8a8a;
}

.RadComboBoxDropDown_Prodigy .rcbMoreResults a
{
	background-position: -157px -94px;
}
