/* RadImageEditor Office2010Black Skin */

.RadImageEditor_Prodigy,
.RadDock_Prodigy.rieDialogs .riePrintContent
{
	border-color: #2c2c2c;
	background-color: #4b4b4b;
}

.RadImageEditor_Prodigy .rieStatusBarInfo .rieLabel,
.RadImageEditor_Prodigy .rieStatusBarInfo span,
.RadDock_Prodigy.rieDialogs .rdContent
{
	color: #e2e2e2;
}

.RadImageEditor_Prodigy .rieContentArea
{
	border-color: #2c2c2c;
}

/* ImageEditor Dialogs using RadDock as Wrapper */
.RadDock_Prodigy.rieDialogs .rbPrimaryIcon,
.RadImageEditor_Prodigy .rieResizeHandle,
.RadImageEditor_Prodigy .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url('ImageEditor/ImageEditorTools.png');
}

*html .RadDock_Prodigy.rieDialogs .rbPrimaryIcon,
*html .RadImageEditor_Prodigy .rieResizeHandle,
*html .RadImageEditor_Prodigy .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url('ImageEditor/ImageEditorToolsIE6.gif');
}

.RadDock_Prodigy.rieDialogs .rieThumbsBottomRow td,
.RadDock_Prodigy.rieDialogs .rieDialogsThumbsLeft,
.RadDock_Prodigy.rieDialogs .riePrintContent img
{
	border-color: #f7c840;
}

.RadDock_Prodigy.rieDialogs .rieThumbsLink
{
	border-color: #919191;
}

.RadDock_Prodigy.rieDialogs .rieActiveThumbsLink,
.RadDock_Prodigy.rieDialogs .rieThumbsLink:hover,
.RadImageEditor_Prodigy .rieHighlightVertical, 
.RadImageEditor_Prodigy .rieHighlightHorizontal
{
	border-color: #f7c840;
	background-color: #ffe68b;
}

/* Override risizebar bgr */

.RadDock_Prodigy.rieDialogs .rieResizeButtons
{
	background:url('Common/rieResizeBgr.gif') -1px -52px no-repeat;
}

.RadDock_Prodigy.rieDialogs.rdRtl .rieResizeButtons
{
	background-position: 43px -52px;
}
