/*Telerik RadInput Office2010Black Skin*/

/*global*/

.RadInput_Prodigy,
.RadInputMgr_Prodigy
{
	
}

/*textbox states*/

/*html body .RadInput_Prodigy .riTextBox,
html body .RadInputMgr_Prodigy
{
	border-color:#919191;
	background:#f6f6f6;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}*/

html body .RadInput_Prodigy .riEmpty,
html body .RadInput_Empty_Prodigy
{
	color:#8d8d8d;
}

/*html body .RadInput_Prodigy .riHover,
html body .RadInput_Hover_Prodigy,
html body .RadInput_Prodigy .riFocused,
html body .RadInput_Focused_Prodigy
{
	border-color:#f7c840;
	background-color:#f6f6f6;
}

html body .RadInput_Prodigy .riRead,
html body .RadInput_Read_Prodigy
{
	border-color:#ccdbed;
}*/

html body .RadInput_Prodigy .riDisabled,
html body .RadInput_Disabled_Prodigy
{
	color:#656565;
	background-color:#eeeeee;
	cursor:default;
}

html body .RadInput_Prodigy .riError,
html body .RadInput_Error_Prodigy
{
	border-color:#e50000 #dc643f #ea8541;
	background:100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

.RadForm.rfdTextbox .RadInput_Prodigy .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Prodigy[type="text"]
{
	border-color:#b32d34 #dc643f #ea8541;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

/*buttons*/

.RadInput_Prodigy a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_Prodigy .riBtn a
{
	width:21px;
	height:18px;
	line-height:18px;
	background-position:3px 6px;
}

.RadInput_Prodigy .riBtn a:hover
{
	background-position:3px -44px;
}

/*spin*/

.RadInput_Prodigy .riSpin a
{
	width:13px;
	height:11px;
	line-height:10px;
}

.RadInput_Prodigy a.riUp
{
	background-position:0 -96px;
}

/*.RadInput_Prodigy a.riUp:hover
{
	background-position:0 -146px;
}*/

.RadInput_Prodigy a.riDown
{
	background-position:0 -198px;
	margin-top:0;
}

/*.RadInput_Prodigy a.riDown:hover
{
	background-position:0 -247px;
}*/

/*label*/

.RadInput_Prodigy .riLabel
{
	color:#e2e2e2;
}

/*rtl*/

html body .RadInputRTL_Prodigy .riError,
html body .RadInputRTL_Error_Prodigy
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_Prodigy .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_Prodigy[type="text"]
{
	background-position:3px -298px;
}


html body .sidebar .RadInput .riTextBox, html body .sidebar .RadInputMgr {
    padding-left:5px;
}


 .RadInput_Prodigy input.riTextBox {

	font-family: Arial;
	font-size:12px;

	border-color: rgb(208, 210, 211);

	background-color: rgb(255, 255, 255);

	padding-bottom: 2px;

	padding-right: 4px;

	padding-left: 5px;

	margin-top: -2px;

	background-position: 0% 0%;

	color: rgb(88, 89, 91);

}

 div.RadInput_Prodigy .riLabel {

	height: 15px;

	font-family: Arial;

	color: rgb(88, 89, 91);

	font-size: 12px;

}

 .RadInput_Prodigy input.riError {

	border-color: rgb(179, 45, 52);

}

