<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'POD' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>5ed938f4-974b-455e-9075-61546c680eff</InstrumentationKey>
</ApplicationInsights>