<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ABCpdf" version="10.1.0.6" targetFramework="net4" />
  <package id="App_BrowsersUpdate" version="1.0" targetFramework="net40" />
  <package id="elmah" version="1.2.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="elmah.sqlserver" version="1.2" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.8" targetFramework="net40" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net4" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.11.0-build09387" targetFramework="net4" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.14.0" targetFramework="net40" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.12.0" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net4" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net4" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net4" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net4" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net4" />
</packages>